.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 535px;
    padding: var(--page-side-fields) 0;
    .title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .white-bg-element {
        margin-top: 20px;
    }
    @include to(575px){
        padding-top: 50px;
        .title {
            padding-bottom: 20px;
        }
        .white-bg-element {
            flex-direction: column;
            align-items: center;
        }
        .white-bg-element .button-std~.button-std{
            margin-left: 0;
            margin-top: 10px;
        }
    }
}