.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 535px;
    .title{
        width: 100%;
        text-align: center;
    }
    .white-bg-element {
        margin-top: 20px;
    }
}