body[id*='about']{
  @include from(1680px){
    .info-list-item span {
      font-size: 18px;
      line-height: 1.6em;
    }
  }
}

.subtitle-with-vertical-decor {
    --decor-width: 46px;
    border: 1px solid #DBDBDB;
    min-height: calc(var(--decor-width) * 4 - 4px);
    background-color: #fff;
    padding-left: calc(var(--decor-width) + 25px);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    background-image: url(../images/about/block1-pattern.svg);
    background-repeat: repeat-y;
    background-size: var(--decor-width) auto;
    background-position-x: -1px;
    background-position-y: -1px;
    @include from(1680px){
      padding-right: 15%;
       --decor-width: 65px;
       min-height: calc(var(--decor-width) * 2 - 4px);
    }
    @include to(575px){
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: auto;
      --decor-width: 32px;
      .subtitle {
        font-size: 14px;
      }
    }
}

.about-double-side-block {
    display: flex;
    flex-wrap: wrap;
    &>* {
        position: relative;
    }
    &__left {
        width: 60%;
        background-image: url(../images/sfera/white-pattern.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        overflow: hidden;
        .subtitle-with-vertical-decor {
            max-width: 320px;
        }
    }
    &__right {
        width: 40%;
        background-color: #fff;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info-list-item {
        margin-left: 0;
        margin-right: 0;
        padding-left: 60px;
        padding-right: 90px;
        max-width: none;
    }
    .info-list-item:first-child {
        border: 1px solid #DBDBDB;
    }
    .info-list-item:nth-child(n+2) {
        border-bottom: 1px solid #DBDBDB;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
    }
    @include from(1680px){
      &__left{
        background-size: 210px;
        .subtitle-with-vertical-decor {
          // max-width:450px;
          padding-right: 5%;
        }
      }
    }
    @include to(1240px){
      .info-list-item {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    @include to(1024px){
      &__left,
      &__right {
        width: 100%;
      }
      &__left {
        height: 0;
        padding-top: 50%;
        position: relative;
        .subtitle-with-vertical-decor {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &__right {
        border: 1px solid #DBDBDB;
      }
      &__right ul {
        display: flex;
        flex-wrap: wrap;
      }
      .info-list-item:nth-child(n+2),
      .info-list-item:first-child {
        border: none;
      }
      .info-list-item:nth-child(-n+2){
        border-bottom: 1px solid #DBDBDB;
      }
      .info-list-item:nth-child(odd){
        border-right: 1px solid #DBDBDB;
      }
      .info-list-item {
        width: 100%;
      }
    }
    @include to(575px){
      &__left { 
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 0;
        background-size: calc(36px * 3);
      }
      &__bg {
        position: static;
        height: auto;
        width: 100%;
      }
      .subtitle-with-vertical-decor {
          position: static;
          left: 0;
          top: 0;
          max-width: none;
          padding-right: 20%;
      }
      .info-list-item {
        min-height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .info-list-item:nth-child(n+2){
        border-bottom: none;
        border-top: 1px solid #DBDBDB;
        border-right: none;
      }
      .info-list-item:first-child{
        border-right: none;
        border-bottom: none;
      }
    }
}

.about-double-side-block3 {
    .about-double-side-block__left {
        background-image: none;
    }
    .info-list-item {
        // padding-top: 20px;
        // padding-bottom: 20px;
    }
}

.block-with-quote {
    min-height: 40vh;
    padding-left: 70px;
    padding-right: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top-left-radius: 244px;
    border-bottom-right-radius: 244px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*background: url(../images/about/quote-block-bg2.svg) left bottom no-repeat, url(../images/about/quote-block-bg1.svg) right top no-repeat*/;
    background-size: 135px, 135px;
    background-color: white;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    --title-width:195px;
    --between-margin:50px;
    &__right-bg {
      position: absolute;
      right: 0;
      top: 0;
      width: 135px;
      height: 135px;
      z-index: 0;
    }
    &__left-bg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 135px;
      height: 135px;
    }
    &__foto-wrap {
        width: calc((100% - var(--title-width)) / 2 - (var(--between-margin) * 2));
        margin-left: var(--between-margin);
        margin-right: var(--between-margin);
        width: min(calc((100% - var(--title-width)) / 2 - (var(--between-margin) * 2)), 360px);
        margin-left: auto;
        margin-right: auto;
    }
    &__text {
        width: calc((100% - var(--title-width)) / 2 - (var(--between-margin) * 2));
        margin-left: var(--between-margin);
        margin-right: var(--between-margin);
        position: relative;
        z-index: 1;
    }
    &__foto {
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        &:after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 80px;
            height: 53px;
            left: 0;
            top: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='80' height='53' viewBox='0 0 80 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80 38.7399C80 42.7011 78.4785 46.1076 75.4354 48.9597C72.5525 51.6532 68.9489 53 64.6246 53C58.6987 53 53.7337 50.9402 49.7297 46.8206C45.8859 42.701 43.964 37.3931 43.964 30.8969C43.964 19.0135 48.6086 10.5366 57.8979 5.46637C64.6246 1.82212 70.0701 0 74.2342 0C75.996 0 76.8769 0.633792 76.8769 1.90136C76.8769 3.01047 75.9159 3.8027 73.994 4.27804C60.7007 7.76384 54.0541 14.3393 54.0541 24.0045C54.0541 28.2825 55.1752 31.9268 57.4174 34.9372C57.7377 29.5501 61.1812 26.8565 67.7477 26.8565C71.2713 26.8565 74.1541 28.0448 76.3964 30.4215C78.7988 32.6398 80 35.4126 80 38.7399ZM35.7958 38.7399C35.7958 42.7011 34.2743 46.1076 31.2312 48.9597C28.3483 51.6532 24.8248 53 20.6607 53C14.5746 53 9.60961 50.9402 5.76576 46.8206C1.92192 42.5426 0 37.1555 0 30.6592C0 18.9342 4.64464 10.5366 13.9339 5.46637C20.6607 1.82212 26.026 0 30.03 0C31.7918 0 32.6727 0.633792 32.6727 1.90136C32.6727 3.01047 31.7117 3.8027 29.7898 4.27804C16.6567 7.76384 10.0901 14.4185 10.0901 24.2422C10.0901 28.3617 11.2112 31.9268 13.4535 34.9372C13.7738 29.5501 17.1371 26.8565 23.5435 26.8565C27.0671 26.8565 29.9499 28.0448 32.1922 30.4215C34.5946 32.6398 35.7958 35.4126 35.7958 38.7399Z' fill='%230065FB'/%3E%3C/svg%3E%0A");
            z-index: 2;
        }
        &:before {
            position: absolute;
            content: '';
            display: inline-block;
            width: 80px;
            height: 53px;
            right: 0;
            bottom: 0;
            transform: rotate(0.5turn);
            background-image: url("data:image/svg+xml,%3Csvg width='80' height='53' viewBox='0 0 80 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80 38.7399C80 42.7011 78.4785 46.1076 75.4354 48.9597C72.5525 51.6532 68.9489 53 64.6246 53C58.6987 53 53.7337 50.9402 49.7297 46.8206C45.8859 42.701 43.964 37.3931 43.964 30.8969C43.964 19.0135 48.6086 10.5366 57.8979 5.46637C64.6246 1.82212 70.0701 0 74.2342 0C75.996 0 76.8769 0.633792 76.8769 1.90136C76.8769 3.01047 75.9159 3.8027 73.994 4.27804C60.7007 7.76384 54.0541 14.3393 54.0541 24.0045C54.0541 28.2825 55.1752 31.9268 57.4174 34.9372C57.7377 29.5501 61.1812 26.8565 67.7477 26.8565C71.2713 26.8565 74.1541 28.0448 76.3964 30.4215C78.7988 32.6398 80 35.4126 80 38.7399ZM35.7958 38.7399C35.7958 42.7011 34.2743 46.1076 31.2312 48.9597C28.3483 51.6532 24.8248 53 20.6607 53C14.5746 53 9.60961 50.9402 5.76576 46.8206C1.92192 42.5426 0 37.1555 0 30.6592C0 18.9342 4.64464 10.5366 13.9339 5.46637C20.6607 1.82212 26.026 0 30.03 0C31.7918 0 32.6727 0.633792 32.6727 1.90136C32.6727 3.01047 31.7117 3.8027 29.7898 4.27804C16.6567 7.76384 10.0901 14.4185 10.0901 24.2422C10.0901 28.3617 11.2112 31.9268 13.4535 34.9372C13.7738 29.5501 17.1371 26.8565 23.5435 26.8565C27.0671 26.8565 29.9499 28.0448 32.1922 30.4215C34.5946 32.6398 35.7958 35.4126 35.7958 38.7399Z' fill='%230065FB'/%3E%3C/svg%3E%0A");
            z-index: 2;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        color: #646464;
        font-size: 18px;
        line-height: 170%;
    }
    &__title {
        height: 160px;
        width: var(--title-width);
        position: relative;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__title:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #DBDBDB;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &__title-first {
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        /* TECHNOLOGY */
        color: var(--color-technology);
        text-align: right;
        align-self: flex-start;
        padding-left: 1px;
        padding-right: 1px;
    }
    &__title-second {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        /* or 24px */
        color: var(--color-technology);
        align-self: flex-end;
        padding-left: 1px;
        padding-right: 1px;
    }
    @include from(1680px){
      &__right-bg {
      position: absolute;
      right: 0;
      top: 0;
      width: 210px;
      height: 210px;
      z-index: 0;
      }
      &__left-bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 210px;
        height: 210px;
      }
    }
    @include to(1024px){
      --between-margin:10px;
        padding-left: 62px;
        padding-right: 62px;
        padding-bottom: 110px;
        // background-size: 75px, 75px;
        &__text {
          width: 100%;
          margin-top: 40px;
      }
      &__foto-wrap {
        width: max(calc((100% - var(--title-width)) / 2 - (var(--between-margin) * 2)), 360px);
      }
      &__title{
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    @include to(575px){
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      padding-top: 20px;
      padding-bottom: 30px;
      padding-left: 17px;
      padding-right: 17px;
      justify-content: center;
      // background: url(../images/about/quote-block-bg1.svg) right top no-repeat;
      background-size: 108px, 108px;
      background-color: #fff;
      --between-margin:0px;

      &__title {
        height: 85px;
        padding-top: 0;
        padding-bottom: 0;
      }
      &__title>*{
        width: 50%;
      }
      &>*:nth-child(n+2){
        margin-top: 20px;
      }
      &__text {
        font-size: 14px;
        line-height: 170%;
        margin-top: 0;
      }
      &__title,
      &__text{
        position: relative;
        z-index: 1;
      }
      &__left-bg,
      &__right-bg {
        width: 85px;
        height: 85px;
      }
      &__left-bg {
        display: none;
      }
      
    }

}

.simple-text-block {
    display: flex;
    padding-left: calc(100% / 12 * 2);
    padding-right: calc(100% / 12 * 2);
    &>* {
        width: calc(50% - 25px);
    }
    &>*:nth-child(odd) {
        margin-right: 100px;
    }
    @include from(1680px){
      font-size: 18px;
      line-height: 1.6em;
    }
    @include to(1024px){
      padding-left: 0;
      padding-right: 0;
      line-height: 1.7em;
      &>* {
        width: calc(50% - 10px);
      }
      &>*:nth-child(odd) {
        margin-right: 10px;
      }
    }
    @include to(575px){
      flex-wrap: wrap;
      &>*{
        width: 100%;
      } 
      &>*:nth-child(odd) {
        margin-right: 0px;
      }
      &>*:nth-child(n+2){
        margin-top: 20px;
      }

    }
}

.about-block-renovations {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr auto auto;
    background-color: #fff;
    .info-list-item {
        max-width: none;
    }
    &__list {
        display: flex;
        flex-direction: column;
        grid-area: 1/2/3/2;
    }
    &__list>* {
        // border: 1px solid #DBDBDB;
        margin-left: 0;
        margin-right: 0;
        padding-left: 60px;
        padding-right: 60px;
        height: 25%;
    }
    &__list>*:nth-child(n+2) {
        border-bottom: 1px solid #DBDBDB;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
    }
    &__list>*:first-child {
        border: 1px solid #DBDBDB;
    }
    &__pattern {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
    }
    &__subtitle {
        grid-area: 1/1/1/1;
        .subtitle-with-vertical-decor {
            height: 100%;
            border-right: none;
            padding-left: calc(var(--decor-width) + 40px);
            display: flex;
            align-items: center;
        }
    }
    &__bg {
        grid-area: 2/1/2/1;
        position: relative;
        img:not(.about-block-renovations__pattern) {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &>.subtitle-with-vertical-decor {
        display: flex;
        align-items: center;
        padding-right: calc(var(--decor-width) + 85px);
        font-size: 18px;
        line-height: 1.7em;
        border-top: none;
    }
    &>.subtitle-with-vertical-decor:nth-child(even) {
        padding-left: calc(var(--decor-width) + 60px);
    }
    &>.subtitle-with-vertical-decor:nth-child(odd) {
        margin-left: calc(var(--decor-width) * -1);
        padding-left: calc(var(--decor-width) + 60px);
    }
    &>.subtitle-with-vertical-decor:nth-last-child(-n+2) {
        min-height: calc(var(--decor-width) * 5);
    }
    @include from(1680px){
      &__pattern {
        width: 210px;
        height: 210px;
      }
    }
    @include to(1240px){
      &__list>* {
        padding-left: 5%;
        padding-right: 5%;
      }
      &>.subtitle-with-vertical-decor:nth-child(odd) {
        margin-left: calc(var(--decor-width) * -1);
        padding-left: calc(var(--decor-width) + 5%);
    }
    }
    @include to(1024px){
      grid-template-rows: auto;
      &>.subtitle-with-vertical-decor {
        padding-right: calc(var(--decor-width) + 85px);
        // font-size: 12px;
      }
      
      &__subtitle {
        grid-area: 1/1/1/3;
      }
      &__bg {
        grid-area: 2/1/2/3; 
      }
      &__list {
        grid-area: 3/1/3/3;
      }
      .subtitle-with-vertical-decor{
        min-height: 180px;
        grid-area: auto/1/auto/3;
        background-size: 47px auto;
      }
      &>.subtitle-with-vertical-decor:nth-child(odd) {
        margin-left: 0;
        padding-left: calc(var(--decor-width) + 85px);
        
      }
      &>.subtitle-with-vertical-decor:nth-child(even) {
        margin-left: 0;
        padding-left: calc(var(--decor-width) + 85px);
        
      }
    }
    @include to(575px){
      --decor-width:36px;
      grid-template-rows: 1fr 65vw auto auto;
      .subtitle-with-vertical-decor{
        --decor-width:36px;
        background-size: var(--decor-width) auto;
        padding-left: calc(var(--decor-width) + 14px);
        padding-right: 17px;
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: auto;
        min-height: calc(var(--decor-width) * 5);
        
        font-size: 14px;
        line-height: 1.7em;
        
      }
      .mob-fixed-height {
        min-height: auto !important;
        height: calc(var(--decor-width) * 5 - 5px);
      }
      &>.subtitle-with-vertical-decor:nth-child(odd),
      &>.subtitle-with-vertical-decor:nth-child(even) {
        margin-left: 0;
        padding-left: calc(var(--decor-width) + 32px);
        
      }
      &__pattern {
        width: 108px;
        height: 108px;
      }
      &__list>* {
        height: auto;
      }
      .info-list-item {
        padding: 20px 14px;
      }
      
    }
}

.dimensions-single-block {
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 50vh;
    grid-template-rows: 60vh;
    overflow: hidden;
    position: relative;
    --pattern-size:145px;
    &:nth-last-child(n+2) {
        margin-bottom: 40px;
    }
    background-color: #fff;
    &:nth-child(even) &__pattern {
      position: absolute;
      left: 0;
      bottom: 0;
      width: var(--pattern-size);
      height: var(--pattern-size);
      z-index: 2;
    }
    &:nth-child(odd) &__pattern {
      position: absolute;
      right: 0;
      bottom: 0;
      width: var(--pattern-size);
      height: var(--pattern-size);
      z-index: 2;
    }
    .info-list-item {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        padding-left: 60px;
        padding-right: 60px;
        height: 25%;
    }
    .info-list-item:first-child {
        border: 1px solid #DBDBDB;
    }
    .info-list-item:nth-child(n+2) {
        border-bottom: 1px solid #DBDBDB;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
    }
    .info-list-item:first-child * {
        font-size: 18px;
        line-height: 100%;
    }
    // display: flex;
    // flex-wrap: wrap;
    &__img-wrap {
      overflow: hidden;
    }
    &__img-wrap>img:not(.dimensions-single-block__pattern) {
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
    &__text {}
    &:nth-child(odd) {
        // background-color: red;
        grid-template-columns: 30% 70%;
        grid-template-rows: Max(60vh, 600px);
      }
    &:nth-child(even) {
      grid-template-rows: Max(60vh, 600px);
    }
    &:nth-child(odd) &__img-wrap>img:not(.dimensions-single-block__pattern) {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(odd) &__text {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    @include from(1680px){
      --pattern-size:210px;
    }
    @include to(1240px){
      grid-template-columns: 60% 40%;
      &:nth-child(odd) {
          // background-color: red;
          grid-template-columns: 40% 60%;
      }
    }
    @include to(1024px){
      grid-template-columns: 100%;
      grid-template-rows: auto;
      .info-list-item {
        padding-left: 60px;
        padding-right: 5%;
        height: auto;
      }
      &:nth-child(odd) {
        // background-color: red;
        grid-template-columns: 100%;
        grid-template-rows: auto;
      }
      &__img-wrap>img:not(.dimensions-single-block__pattern) {
        height: 100%;
        height: calc(100vw * 0.75);
      }
      &__text {
        display: flex;
        flex-wrap: wrap;
      }
      &__text>* {
        width: 50%;
      }
      &__pattern {
        bottom: auto;
        top: calc(100vw * 0.75);
        transform: translateY(-100%);
      }
      &:nth-child(odd) &__img-wrap>img:not(.dimensions-single-block__pattern) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        height: calc(100vw * 0.75);
        object-fit: cover;
      }
      &:nth-child(odd) &__text {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
      }
    }
    @include to(768px) {
      &:nth-child(even) {
        grid-template-rows: auto;
      }
    }
    @include to(575px){
      --pattern-size:108px;
      &__text>*{
       width: 100%; 
      }
      .info-list-item {
        padding: 10px 15px;
      }
      .info-list-item:first-child{
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
}

.about-slider {
    --decor-width: 91px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 60% 20%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 75vh;
    position: relative;
    // background: url(../images/about/slider-decor-right.svg) right no-repeat, url(../images/about/slider-decor-left.svg) left no-repeat;
    background-size: auto 40vh;
    background-color: #fff;
    &>* {
        // border: 1px solid pink;
        overflow: hidden;
    }
    &__text {
        grid-area: 3/1/3/7;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &>* {
            width: 33.33333%;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            border: 1px solid #DBDBDB;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        
    }
    &__slides {
        grid-area: 2/2/2/6;
        img {
          object-fit: cover;
          height: 100%;
        }
    }
    &__decor-left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      max-height: 45vh;
      z-index: 0;
    }
    &__decor-right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
      max-height: 45vh;
      z-index: 0;
    }
    &__title {
        grid-area: 1 / 2 / 2 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
    }
    &__text {
      position: relative;
      z-index: 1;
    }
    [data-next] {
        position: absolute;
        right: var(--decor-width);
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }
    [data-prev] {
        position: absolute;
        left: var(--decor-width);
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        z-index: 3;
    }
    &__line-left,
    &__line-right {
        border-bottom: 1px solid #DBDBDB;
    }
    &__line-left {
        grid-area: 1/1/1/3;
    }
    &__line-right {
        grid-area: 1/5/1/7;
    }

    .swiper-container__bg1 {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../images/ctc/icon-title-decor-bg.svg) top;
      // background-repeat: repeat-x;
      z-index: 2;
    }
    @include from(1680px){
      grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
      grid-template-rows: 17.5% 65% 17.5%;
      &__text {
        font-size: 18px;
        line-height: 1.6em;
      }
    }
    @include to(1024px){
      // background-image: none;
      grid-template-rows: 2fr 6fr 2fr;
      --decor-width:0;
      &__slides {
        grid-area: 2/1/2/7;
      }
      &__title {
        grid-area: 1 / 1 / 2 / 7;
      }
    }
    @include to(950px){
      grid-template-columns: 85px auto auto auto auto 85px;
      grid-template-rows:16vh 48vh auto;
      background: url(../images/about/slider-decor-tablet-right.svg) right no-repeat, 
      url(../images/about/slider-decor-tablet-left.svg) left no-repeat;
      background-image: none;
      background-color: #fff;
      background-position: 0 190px, 100% 190px;
      &__slides {
        grid-area: 2/2/2/6;
      }
      &__title{
        grid-area: 1 / 2 / 2 / 6;
      }
      &__text>* {
        width: 100%;
        height: auto;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;
      }
      [data-next] {
        top: 38vh;
        right: 85px;
      }
      [data-prev] {    
          top: 38vh;
          left: 85px;
      }
      &__decor-left,
      &__decor-right {
        top: 40vh;
      }
    }
    
    @include from-to(576px, 950px){
      margin-left: -20px;
      margin-right: -20px;
    }
    @include from(769px){
      &__text>*:nth-child(n+2){
        border-left: none;
      }
    }
    @include to(575px){
      background-color: #fff;
      background-image: none;
      display: flex;
      flex-wrap: wrap;
      &:after {
        content: '';
        position: absolute;
        left: -14px;
        top: 0px;
        width: calc(100% + 28px);
        height: 65%;
        background: white;
        z-index: 0;
      }
      &>* {
        position: relative;
        z-index: 1;
      }
      &__title {
        border: none;
        padding: 20px 14px 10px 14px;
        margin-left: -14px;
        margin-right: -14px;
        width: calc(100% + 28px);
        background-color: #fff;
        text-align: center;
      }
      &__slides {
        width: 100vw;
        height: 56vw;
        margin-left: -14px;
        margin-right: -14px;
      }

      &__text>*{
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      [data-next] {
        top: calc(28vw + 57px);
        right: -20px;
      }
      [data-prev] {
        top: calc(28vw + 57px);
        left: -20px;
      }
      &__decor-left,
      &__decor-right {
        display: none;
      }
      &__text {
        border: 1px solid #DBDBDB;
      }
      &__text>* {
        border: none;
        position: relative;
      }
      &__text>*:nth-last-child(n+2):after{
        width: calc(100% - 34px);
        height: 1px;
        background: #DBDBDB;
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    @include to(370px){
      [data-next] {
        top: calc(28vw + 84px);
        right: -20px;
      }
      [data-prev] {
        top: calc(28vw + 84px);
        left: -20px;
      }
    }
}

.div1 {
    grid-area: 2 / 2 / 3 / 6;
}

.about-slider__title {}

.div3 {
    grid-area: 3 / 1 / 4 / 3;
}

.div4 {
    grid-area: 3 / 3 / 4 / 5;
}