.about-small-block {
    
    padding: 70px 40px;
    position: relative;
    @include row-flex();
    &__left {
        @include size(4.8);
        @include shift(0);
    }
    &__right {
        @include size(3.6);
        @include shift-left(1.2);
        @include shift-right(0);
    }
    p~p {
        margin-top: 1.25em;
    }
    .subtitle {
        line-height: 140%;
    }
    @include from(1024px){
        padding: 100px 40px;
    }
    @include from(1680px){
        padding: 140px 100px;
        p~p {
            margin-top: 2em;
        }
    }
    @include to(768px){
        padding: 35px 15px;
        &__left {
            @include size(12);
        }
        &__right {
            @include size(12);
            @include shift-left(0);
           
        }
        .subtitle {
            margin-bottom: 15px;
        }
    }
    @include to(575px){
        z-index: 2;
        &__right {
           position: relative;
           
        }
    }
}

.quarter-circle-decor {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    &.right {
        right: 0;
    }
    &.left {
        left: 0;
        transform: rotate(90deg);
    }
    &.top {
        bottom: auto;
        top: 0;
        transform: rotate(-90deg);
    }
    @include to(575px){
        width: 100px;
        height: 100px;
    }
}

.about-block {
    padding: 70px 40px;
    position: relative;
    @include row-flex();
    &__left {
        @include size(4.8);
        @include shift(0);
    }
    &__right {
        @include size(3.6);
        @include shift-left(1.2);
        @include shift-right(0);
    }
    p~p {
        margin-top: 1.25em;
    }
    .white-bg-element {
        padding: 30px 50px 36px 50px;
    }
    
    @include from(576px){
        
        .white-bg-element {
            padding: 30px 50px 36px 25px;
        }
    }
    @include from(1024px){
        padding: 100px 40px;
    }
    @include from(1680px){
        padding: 140px 100px;
        .white-bg-element {
            padding: 60px 75px 72px 50px;
        }
    }
    @include to(575px){
        padding: 35px 15px;
        .white-bg-element {
            padding: 30px 15px 36px 15px;
        }
    }
}


.about-block-with-list {
    .title {
        @include size(4.8);
        @include shift-left(0);
        @include shift-right(1);
    }
    .white-bg-element {
        @include size(4.8);
        @include shift(0);
    }
    @include from(1024px){
        padding: 100px 40px;
    }
    @include to(768px){
        .title {
            @include size(12);
            @include shift-left(0);
            @include shift-right(0);
            margin-bottom: 15px;
        }
        .white-bg-element {
            @include size(12);
        }
    }
}


.about-ordered-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(199, 208, 214, 0.25);
    .subtitle {
        width: 28px;
    }
    .text-black {
        width: calc(100% - 28px);
    }
    @include from(1680px){
        .text-black {
            width: calc(100% - 28px);
            padding-left: 15px;
        }
    }
}
.about-ordered-list~.about-ordered-list {
    margin-top: 20px;
    @include from(1680px){
        margin-top: 35px;
    }
}
.about-prelast-block {
    .about-block__left {
        @include size(6);
    }
    .about-block__left svg {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .about-block__right {
        @include size(5);
        @include shift-left(1);
        @include shift-padding-right(0.6);
        position: relative;
        z-index: 2;
    }
    @include from(576px){
        .about-block__left {
            align-self: flex-start;
            position: sticky;
            // position: -webkit-sticky;
            top: 50px;
        }
    }
    @include from-to(1024px, 1680px){
        .about-block__left {
            @include size(4.8);
        }
        .about-block__right {
            @include size(6);
        }
    }
    @include from(1680px){
        .about-block__left {
            @include size(4.8);
        }
        .about-block__left svg {
            width: 100%;
            height: auto;
        }   
    }
    @include to(575px){
        .about-block__left {
            @include size(12);
            margin-bottom: 15px;
        }
        .about-block__right {
            @include size(12);
            @include shift-left(0);
            padding-right: 0;
        }
        .about-block__left svg {
            width: 100%;
            height: auto;
        }
    }
}

.about-last-block {
    @include shift-padding(1.2);
    &>*:first-child {
        margin-bottom: 29px;
    }
    .button-std:not(:last-of-type){
        margin-right: 20px;
    }
    @include from(1680px){
        @include shift-padding-right(4.5);
        padding-left: 100px;
        .button-std.small {
            height: 58px;

        }
    }
    @include from(1920px){
        @include shift-padding-right(6.25);
    }
    @include to(575px){
       padding-left: 15px;
       padding-right: 15px;
       .button-std~.button-std {
           margin-top: 15px;
       }
       margin-left: 0;
       margin-right: 0;
    }
}