.resources-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: -webkit-max-content;
    grid-template-columns: 1fr 1fr;
    gap:22px;
    @include from(1680px){
        gap:45px;
    }
    @include to(768px){
        grid-template-columns: 1fr;
    }
}
.resource-link {
    padding: 30px;

    max-height: 170px;
    [class*="subtitle"]{
        margin-bottom: 20px;
    }
    .button-std {
        width: max-content;
    }
    @include from(951px){
        &:hover [class*="subtitle"] {
            text-decoration: underline;
        }
    }
    @include from(1680px){
        padding: 50px;
        max-height: 350px;
        [class*="subtitle"]{
            width: 100%;
        }
    }
    @include to(575px){
        padding: 20px;
        .button-std {
            margin-top: 0 !important;
        }
    }
}