.bussines-oport-item {
    padding: 30px;
    color: inherit;
    max-width: 1024px;
    margin-right: auto;
    margin-left: 0;
    [class*="subtitle"]{
        margin-bottom: 10px;
    }
    p~p {
        margin-top: 1.25em;
    }
    .button-std {
        margin-top: 20px;
    }
    font-size: 12px;
    line-height: 140%;
}
.bussines-oport-item~.bussines-oport-item {
    margin-top: 20px;
}
