.advices-block {
    align-items: flex-start;
    align-content: flex-start;
    @include from(1241px){
        @include row-flex();
        .career-advice-link {
            @include size(6);
            @include shift(0);
            margin-bottom: 20px;
            
        }
    }
    @include from(1680px){
        .career-advice-link {
            @include size(4);
        }
    }
}
.career-advice-link {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
    text-decoration: none;
    .subtitle-small {
        margin-bottom: 20px;
    }
    @include from(951px){
        &:hover .subtitle-small{
            text-decoration: underline;
        }
    }
    @include to(575px){
        padding:15px;
    }
}
@include to(1240px){
    .career-advice-link~.career-advice-link {
        margin-top: 20px;
    }
}
.career-first-block {
    .search-bar-wrap {
        position: absolute;
        right: var(--page-side-fields);
        top: 20px;
        z-index: 4;
    }
    .page-part__img {
        margin-top: 30px;
    }
}
.advices-block {

}