.event-anonce-wrapper {
  .page-title {
    width: 100%;
  }
 @include to(769px){
  .learn-block:hover {
    height: 105px;

  }
  .learn-block:after {
    top: 18px;
  }
  .learn-block>* {
    padding: 8px 35px 9px 15px;
  }
 }
}

.event-anonce-wrapper {
  align-items: flex-start;
  align-content: flex-start;
}