.ms {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  min-height: 100vh;
  padding-top: 50px;
  background: var(--color-white);
  &>img {
    margin-top: auto;
    width: 100%;
  }
  &__title {
    letter-spacing: 0.03em;
    width: 100%;
    font-size: 42px;
    line-height: 1.25em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .button-std {
    margin-bottom: auto;
  }
  @include from(1680px){
    &>img {
      padding-left: 100px;
      padding-right: 100px;
      
    }
    &__title {
      font-size: 54px;
      padding-left: 13%;
      padding-right: 13%;
      text-align: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  @include to(575px){
    &__title {
      font-size: 32px;
    }
    &>img {
      width: 200vw;
      max-width: none;
      margin-left: auto;
    }
  }
}

.screen2 {
  min-height: 100vh;
  @include row-flex();
  align-items: center;
  line-height: 1.6em;
  position: relative;
  width: 100%;
  background: var(--color-white);
  &__img {
    @include shift(0);
    @include size(5);
  }
  p~p {
    margin-top: 1.25em;
  }
  .button-std {
    margin-top: 40px;
  }
  &__text {
    @include shift(0);
    @include size(7);
    @include shift-padding-left(1.2);
    @include shift-padding-right(1.2);
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  &__decor {
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 200px;
    height: 200px;
  }
  .button-std {
    width: 165px;
  }
  @include from(1680px){
    padding-top: 50px;
    padding-bottom: 50px;
    .button-std {
      width: 200px;
    }
    &__text {
      @include size(5);
      @include shift-padding-right(0.5);
    }
    &__img {
      @include size(5);
      @include shift-right(1);
      @include shift-left(1);
    }
  }
  @include to(768px){
    width: auto;
    padding-top: 20px;
    &__img,
    &__text {
      @include size(12);
    }
    &__text {
      @include shift-padding(0);
      
    }
    &__img {
      padding-top: 20px;
    }
    .button-std {
      margin-left: auto;
      margin-right: auto;
    }
    &__decor {
      width: 100px;
      height: 100px;
    }
  } 
}

.screen3 {
  min-height: 100vh;
  @include row-flex();
  flex-direction: row-reverse;
  align-items: center;
  line-height: 1.6em;
  position: relative;
  width: 100%;
  background: var(--color-gray);
  &__img {
    @include shift(0);
    @include size(5);
    padding-left: 34px;
    svg {
      width: 100%;
    }
  }
  p~p {
    margin-top: 1.25em;
  }
  .button-std {
    margin-top: 40px;
  }
  &__text {
    @include shift(0);
    @include size(7);
    @include shift-padding-left(1.2);
    @include shift-padding-right(1);
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  &__decor {
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
  }
  .button-std {
    width: 165px;
  }
  @include from(1680px){
    padding-top: 50px;
    padding-bottom: 50px;
    .button-std {
      width: 200px;
    }
    &__text {
      @include size(5);
      @include shift-padding-left(0);
      @include shift-padding-right(1.2);
    }
    &__img {
      @include size(5);
      @include shift-right(1);
      @include shift-padding-left(0);
      svg {
        height: auto;
      }
    }
  }
  @include to(768px){
    width: auto;
    padding-top: 20px;
    &__img,
    &__text {
      @include size(12);
    }
    &__text {
      @include shift-padding(0);
      
    }
    &__img {
      padding-top: 20px;
      padding-left: 0;
    }
    .button-std {
      margin-left: auto;
      margin-right: auto;
    }
    &__decor {
      width: 100px;
      height: 100px;
    }
  } 
}
.screen4 {
  min-height: 100vh;
  @include row-flex();

  align-items: center;
  line-height: 1.6em;
  position: relative;
  width: 100%;
  background: var(--color-white);
  &__img {
    @include shift(0);
    @include size(5);
    padding-right: 34px;
    svg {
      width: 100%;
    }
  }
  p~p {
    margin-top: 1.25em;
  }
  .button-std {
    margin-top: 40px;
  }
  &__text {
    @include shift(0);
    @include size(7);
    @include shift-padding-left(1.2);
    @include shift-padding-right(1.2);
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  &__decor {
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 200px;
    height: 200px;
  }
  .button-std {
    width: 165px;
  }
  @include from(1680px){
    padding-top: 50px;
    padding-bottom: 50px;
    .button-std {
      width: 200px;
    }
    &__text {
      @include size(5);
      @include shift-padding-right(0);
    }
    &__img {
      @include size(5);
      @include shift-left(1);
    }
  }
  @include to(768px){
    width: auto;
    padding-top: 20px;
    &__img,
    &__text {
      @include size(12);
    }
    &__text {
      @include shift-padding(0);
      
    }
    &__img {
      padding-top: 20px;
      padding-right: 0;
    }
    .button-std {
      margin-left: auto;
      margin-right: auto;
    }
    &__decor {
      width: 100px;
      height: 100px;
    }
  } 
}

.screen5 {
  min-height: 100vh;
  @include row-flex();
  flex-direction: row-reverse;
  align-items: center;
  line-height: 1.6em;
  position: relative;
  width: 100%;
  background: var(--color-gray);
  &__img {
    @include shift(0);
    @include size(5);
    padding-left: 34px;
    svg {
      width: 100%;
    }
  }
  p~p {
    margin-top: 1.25em;
  }
  .button-std {
    margin-top: 40px;
  }
  &__text {
    @include shift(0);
    @include size(7);
    @include shift-padding-left(1.2);
    @include shift-padding-right(1);
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  &__decor {
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
  }
  .button-std {
    width: 165px;
  }
  @include from(1680px){
    padding-top: 50px;
    padding-bottom: 50px;
    .button-std {
      width: 200px;
    }
    &__text {
      @include size(5);
      @include shift-padding-left(0);
    }
    &__img {
      @include size(5);
      @include shift-right(1);
      padding-left: 0;
      svg {
        height: auto;
      }
    }
  }
  @include to(768px){
    width: auto;
    padding-top: 20px;
    &__decor {
      width: 100px;
      height: 100px;
    }
    &__img,
    &__text {
      @include size(12);
    }
    &__text {
      @include shift-padding(0);
      
    }
    &__img {
      padding-top: 20px;
      padding-left: 0;
    }
    .button-std {
      margin-left: auto;
      margin-right: auto;
    }
    &__decor {
      width: 100px;
      height: 100px;
    }
  } 
}