.ms {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  min-height: 100vh;
  padding-top: 50px;
  &>img {
    margin-top: auto;
    width: 100%;
  }
  &__title {
    letter-spacing: 0.03em;
    font-size: 42px;
    line-height: 1.25em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
  }
}

.screen2 {
  min-height: 100vh;
  @include row-flex();
  align-items: center;
  line-height: 1.6em;
  position: relative;
  width: 100%;
  &__img {
    @include shift(0);
    @include size(5);
  }
  p~p {
    margin-top: 1.25em;
  }
  .button-std {
    margin-top: 40px;
  }
  &__text {
    @include shift(0);
    @include size(7);
    @include shift-padding-left(1);
    @include shift-padding-right(1);
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  &__decor {
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 200px;
    height: 200px;
  }
}