
.psycho-accordeon-block {
    padding-top: 70px;
    padding-bottom: 70px;
    .accordeon-list {
        margin: 0 auto;
        max-width: 883px;
    }
}
.psycho-last-block {
    @include shift-padding(1.2);
    &>*:first-child {
        margin-bottom: 29px;
    }
    .button-std:not(:last-of-type){
        margin-right: 20px;
    }
}
.psycho-small-block {
    padding: 70px 40px;
    position: relative;
    padding: 70px 0px;
    max-width: 1120px;
    @include row-flex();
    margin: auto;
    &>* {
        z-index: 2;
        max-width: 85%
    }
    .subtitle {
        line-height: 140%;
    }
    &__left {
        @include size(4.8);
        @include shift(0);
    }
    &__right {
        @include size(3.6);
        @include shift-left(1.2);
        @include shift-right(0);
    }
    p~p {
        margin-top: 1.25em;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 100vw;
        background-color: var(--color-orange);
    }
    .quarter-circle-decor {
        right: 50%;
        transform: translateX(calc(50vw - 175px + var(--page-side-fields)));
    }
    @include from-to(1024px, 1680px){
      padding: 70px var(--page-side-fields);
    }
    @include from(1680px){
        margin-right: auto;
        margin-left: 100px;
        .quarter-circle-decor {
          transform: translateX(calc(50vw - 260px + var(--page-side-fields)));
          right: 0;
        }
        &:after {
          left: 0;
          transform: translateX(-100px);
        }
    }
    @include to(575px){
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: var(--page-side-fields);
      padding-right: var(--page-side-fields);
      .quarter-circle-decor {
        right: 0;
        transform: none;
      }
      .button-std~.button-std {
        margin-top: 10px;

      }
    }
    @include from-to(576px, 951px){
      padding-left: 40px;
      padding-right: 40px;
      .quarter-circle-decor {
        right: 0px;
        transform: none;
    }
    }
    
}
.accordeon-item {
    color: var(--color-black);
    --decor-size:28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: background-color .5s ease-in-out;
    &:first-child {
    //   border-top: 1px solid #3D4143;
    }
    &:nth-child(n+1) {
      border-bottom: 2px solid #ECECEC;
    }
    &__title {
    //   font-weight: 300;
    //   font-size: 24px;
    //   line-height: 150%;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    padding-top: 20px;
    padding-bottom: 12px;
    width: calc(100% - var(--decor-size));
        @include to(575px){
            font-size: 18px;
            line-height: 1.5em;
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }
    &__decor {
      width: var(--decor-size);
      height: calc(var(--decor-size) / 28 * 33);
      cursor: pointer;
      transition: transform .3s ease-in-out;
    }
    &.opened &__decor {
        transform: scaleY(-1);
    }
    &.opened {
        position: relative;
      background-color: var(--color-gray);
      z-index: 2;
    }
    &:before {
        content:'';
        transition: opacity .3s ease-in-out;
        opacity: 0;
    }
    &.opened>* {
        z-index: 2;
    }
    &.opened:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        opacity: 1;
        height: 100%;
        width: 100vw;
        background-color: var(--color-gray);
        transform: translateX(-50%);
        z-index: 1;
    }
    &.opened &__inner {
        padding-bottom: 20px;
        padding-right: 20%;
    }
    &__inner {
        font-size: 14px;
        line-height: 160%;
      width: 100%;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    //   transition: padding .3s ease-in-out;
    //   font-weight: 300;
      li{
        margin-bottom: 20px;
      }
      li:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-architecture);
        font-size: 6px;
        vertical-align: middle;
        margin-right: 25px;
      }
      @include to(575px){
        font-size: 14px;
        line-height: 1.4em;
      }
    }
    .opened &__inner {
      height: auto;
      visibility: visible;
    }

    p~p {
      margin-top: 1.25em;
    }
    .subtitle-small {
      color: var(--color-violet);
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .list-std {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    @include from(769px){
      &:hover {
        cursor: pointer;
        background-color: var(--color-design);
      }
    }
    @include from(1680px){
      &__inner  {
        font-size: 18px;
        padding-bottom: 40px;
      }
      &__title {
        font-size: 24px;
      }
    }
    @include to(575px){
      --decor-size: 18px;
      &.opened &__inner {
        padding-bottom: 30px;
      }
      &__inner>* {
        text-indent: 0px;
        padding-left: 0px
      }
    }
  }
  @include from(1680px){
    .accordeon-item~.accordeon-item {
      margin-top: 20px;
    }
  }