.footer 
    .footer__part © 2021 Розірви коло усі права захищено.
    .footer__part 
        a(href="https://smarto.agency" target='_blank') Smart Orange 
    .footer__part Компонент «Розірви коло.Кар'єрний хаб» реалізується в рамках проєкту "Посилення національних і регіональних механізмів побудови адаптивної, підзвітної та економічно ефективної системи протидії та запобігання насильству за ознакою статі», що впроваджується за підтримки Фонду ООН у галузі народонаселення в Україні у співпраці з МБФ «Українська фундація громадського здоров’я» за фінансової підтримки Посольства Великої Британії.

