.create-cv-wrapper {
  @include row-flex();
  align-items: flex-start;
  .input-section {
    position: relative;
    padding-right: 60px;
  }
  .plus-icon {
    position: absolute;
    right: 10px;
    top: 25px;

  }
  .double-plus-buttons {
    display: flex;
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .double-plus-buttons .plus-icon {
    position: static;
    width: 17px;
    height: 17px;
  }
  .double-plus-buttons .plus-icon~.plus-icon {
    margin-left: 5px;
  }
  input[type='file'] {
    display: none;
  }
  .page-title {
    @include size(12);
    @include shift(0);
  }
  form{
    @include size(8);
    @include shift(0);
  }
  .empty-cv-block {
    padding-left: 30px;
    padding-right: 30px;
    @include size(4);
    @include shift(0);

  }
  @include to(1240px){
    .empty-cv-block,
    form {
      @include size(12);
    }
    &>*~* {
      margin-top: 15px;
    }
    .empty-cv-block {
      padding-left: 15px;
      padding-right: 15px;
    }
    .empty-cv-block .subtitle-small {
      margin-bottom: 15px;
    }
    .cv-form-img {
      margin-bottom: 10px;
    }
  }
  @include to(575px){
    margin-left: 0;
    margin-right: 0;
    &>.form-std, 
    &>.white-bg-element {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

}
.create-cv-tooltip {
  font-weight: 500 !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  padding: 6px 15px !important;
  background-color: #E7E3E6 !important;
  line-height: 1em !important;
  color: #000000 !important;
  pointer-events: none !important;
  &:after {
    border-top-color: #E7E3E6 !important;
  }
}

.plus-icon {
  cursor: pointer;
}


.cv-form-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.file-input-text {
  color: #9A7E8E;
}
.input-file-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  &>* {
    margin-right: 20px;
  }
  .button-std {
    margin-left: 10px;
  }
  @include to(575px){
    flex-wrap: wrap;
    .file-input-text {
      margin-top: 15px;
    }
  }
}