.online-consultation-request-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .page-title {
        width: 100%;
    }
    .form-std {
        @include size(7);
        @include shift(0);
    }
    .text-block {
        @include size(5);
        @include shift(0);
        padding: 30px;
    }
    @include to(1200px){
        .form-std {
            @include size(12);
            margin-top: 20px;
        }
        .text-block {
            @include size(12);
        }

    }
}

.react-datetime-picker__inputGroup {
    display: none;
}
.react-datetime-picker {
    position: absolute !important; 
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &__wrapper {
        border: none !important;
    }
    &__clear-button {
        display: none !important;
    }
    &__calendar-button {
        svg {
            stroke: var(--color-violet);
        }
    }
    &__calendar {
        width: 270px !important;
    }
}
.react-calendar {
    border-radius: 10px;
    border-color: #e5e0e3 !important;
    &__tile--active {
        background: var(--color-violet) !important;
    }
    &__tile {
        padding: 0.5em 0.5em !important;
    }
}

.online-consultation-request-wrapper {
    position: relative;
    z-index: 0;
}