.question-history-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .page-title {
        text-align: left;
        width: 100%;
    }
}
.question-item{
    background-color: var(--color-white);
    border-radius: 10px;
    width: 100%;
    --side-padding: 30px;
    &.new-answer &__head {
        background: #26BE19;
        box-shadow: 0px 10px 20px rgba(199, 208, 214, 0.25);
    }
    &.new-answer &__title {
        color: var(--color-white);
    }
    &.new-answer.opened &__head {
        background-color: var(--color-white);
        box-shadow: none;
    }
    &.closed &__head {
        background-color: var(--color-white);
    }
    &.closed &__title {
        color: var(--color-black);
    }
    &.new-answer.opened &__title {
        color: var(--color-black);
    }
    &__head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        border-radius: 10px;
        cursor: pointer;
    }
    &__body {
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);    
        padding-bottom: var(--side-padding);
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        display: none;
    }
    &.opened &__body {
        display: flex;
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: var(--color-black);
        white-space: nowrap;
        max-width: calc(100% / 8 * 6);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__status {
        padding: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        border-radius: 5px; 
        margin-left: auto;
        transition: .3s ease-in-out;
    }
    &__status.await {
        background: #F35D52;
        color: var(--color-white);
    }
    &__status.answered {
        background: var(--color-white);
        color: var(--color-violet);
    }
    &__status.closed {
        background-color: #F8F8F8;
        color: #707070;
    }
    &__status.answered {
        background-color: #26BE19;
        color: var(--color-white);
    }
    &__birdy {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        background-color: var(--color-black);
        width: 6px;
        height: 6px;
        cursor: pointer;
        transition: .3s ease-in-out;
        margin-left: 30px;
    }
    &.opened  &__birdy {
        transform: rotate(180deg);
    }

    &__single-mess {
        position: relative;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        padding-bottom: 40px;
        padding-top: 20px;
        max-width: 80%;
        width: 80%;
        background-color: var(--bg);
    }
    &__single-mess~&__single-mess {
        margin-top: 30px;
    }
    &__single-mess.client {
        --bg: #F8F8F8;
        border-radius: 10px 10px 10px 0px;
        margin-right: auto;
    }
    &__single-mess.admin {
        --bg: #EBFFC1;
        border-radius: 10px 10px 0px 10px;
        margin-left: auto;
    }
    &__single-mess:after {
        content: '';
        position: absolute;
        top: 100%;
        width: 14px;
        height: 14px;
        background-color: var(--bg);
    }
    &__single-mess.admin:after {
        right: 0;
        clip-path: polygon(100% 100%, 0 0, 100% 0);
        -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
    }
    &__single-mess.client:after {
        left: 0;
        clip-path: polygon(100% 0, 0 0, 0 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    &__single-mess-text{
        color: #707070;
        margin-top: 15px;
    }

    &__single-mess-head {
        display: flex;
        align-items: center;
    }
    &__date-wrapper {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 12px;
        line-height: 100%;
        /* identical to box height, or 12px */
        color: #9A7E8E;

        svg {
            margin-right: 10px;
        }
    }
    &__single-mess-title {
        margin-right: auto;
    }
    .gray-bg-element {
        margin-top: 35px;
    }
    &.psycho,
    &.psycho~&.psycho {
        position: relative;
        margin-top: calc(10px + 12px + 20px);
    }
    &__user-info {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        /* identical to box height, or 12px */
        color: #9A7E8E;
        width: 100%;
    }
    &__user-info &__date-wrapper:first-of-type {
        margin-left: auto;
    }
    @include to(950px){
        &__single-mess {
            max-width: 100%;
            width: 100%;
        }
    }
    @include to(575px){
        --side-padding: 15px;
        &__title {
            font-size: 14px;
            max-width: calc(100% / 8 * 5);
        }
        &__head {
            flex-wrap: nowrap;
        }
        &__single-mess {
            padding-bottom: 20px;
        }
        &__single-mess~&__single-mess {
            margin-top: 15px;
        }
        &__birdy {
            margin-left: 10px;
        }
        &__title~&__birdy {
            margin-left: auto;
        }
    }
}
.question-item {
    margin-top: 35px;
}


.history-message-form {
    --padding:0px;
    --outline-padding: 0px;
    
    background-color: transparent;
    &:before {
        display: none;
    }
    textarea {
        padding-top: 16px;
        height: 100px;
    }
}

.end-question-item {
    text-decoration: underline;
    color: rgba(255, 17, 0, 1);
    font-size: 12px;
}

.question-item-form-text-s {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    /* or 12px */

    display: flex;
    align-items: center;

    color: #AFAFAF;
}
.form__group {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    margin-top: 15px;
    .question-item-form-text-s {
        width: 33%;
        margin-left: 10px;
    }
    button.button-std {
        margin-top: 0;
    }
    .end-question-item {
        width: 30%;
    }
    @include to(1240px){
        // .question-item-form-text-s {
        //     width: auto;
        // }
    }
    @include to(575px){
        flex-direction: column;
        align-items: flex-start;
        .question-item-form-text-s {
            margin-top: 15px;
            width: 100%;
            margin-left: 0;
            
        }
        .end-question-item {
            margin-top: 15px;
            width: 100%;
        }
        button.button-std {
            margin-top: 15px;
            margin-left: auto;
        }
    }
}