
extends ../layout/main
block variable
  -
    var title_page = 'Можливостi від бізнесу '
    var id_page = 'id-page-bussines-oportunities'
    var class_page = 'class-page-bussines-oportunities'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/bussines-oportunities.js')
block content
  .page-part.fdc.self-height
    .on-light-bg-breadcrumbs 
      include ../includes/breadcrumbs.pug
    .page-title.text-violet Можливостi від бізнесу
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
    a(href="single-bussines-oportunities.html").white-bg-element.bussines-oport-item.fdc.tdn
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Діти, які ростуть у повній сім'ї і бачать насильство, страждають набагато більше за тих, хто зростає з одним із люблячих батьків у гармонійних стосунках та родинному спокої. Діти, які є свідками насильства між батьками чи близькими родичами, навіть якщо фізично уникають його, страждають душевно. Це негативно впливає на їхній емоційний стан, взаємовідносини з однолітками, навчання.
      .button-std.button-std--orange.small.max-content  Детальніше
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
