
extends ../layout/main
block variable
  -
    var title_page = 'courses'
    var id_page = 'id-page-courses'
    var class_page = 'class-page-courses'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/courses.js')
block content
  .page-part.violet
    include ../components/learn-block-navbar/learn-block-navbar.pug
    .fixed-proportion-wrap
      .fixed-proportion
        .decor-white-circle
    .page-part__text
      include ../includes/breadcrumbs.pug
      .page-title.text-white Курси
      p.text-white Домашнє та гендерно зумовлене насильство - проблема, з якою стикається надто багато людей в нашій країні. Фонд ООН у галузі народонаселення разом із партнерами створив кампанію “Розірви коло”, яка вже багато років допомагає усім, хто постраждав від насильства, отримати інформацію та розірвати це коло. 
      .button-std.button-std--violet.down-button(data-down-button) 
        <svg class="button__up-icon" width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="16" height="27" rx="8" stroke="white"/>
          <circle cx="8.5" cy="9.5" r="1.5" fill="white"/>
          </svg>
        span Дізнатися більше
    .page-part__img 
      include ../../assets/images/courses/screen1-img.svg
  .courses-wrapper.page-part.self-height
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item-online
      <svg class="event-item-online__inscription" width="115" height="36" viewBox="0 0 115 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H0C4.3467 5.43338 3.67473 8.20982 3.06349 10.7353C2.54975 12.858 2.07892 14.8034 4.66667 18C2.09034 20.9552 2.54565 22.8769 3.05669 25.0337C3.66968 27.6209 4.36284 30.5465 0 36H5H115V10C115 4.47715 110.523 0 105 0H5Z"/>
        </mask>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H0C4.3467 5.43338 3.67473 8.20982 3.06349 10.7353C2.54975 12.858 2.07892 14.8034 4.66667 18C2.09034 20.9552 2.54565 22.8769 3.05669 25.0337C3.66968 27.6209 4.36284 30.5465 0 36H5H115V10C115 4.47715 110.523 0 105 0H5Z" fill="#FF7F41"/>
        <text x="24" y="22">Online курс</text>
        //- <path d="M0 0V-1H-2.08062L-0.780869 0.624695L0 0ZM3.06349 10.7353L4.03543 10.9706L3.06349 10.7353ZM4.66667 18L5.42044 18.6571L5.97255 18.0238L5.44391 17.3708L4.66667 18ZM3.05669 25.0337L2.08363 25.2643L3.05669 25.0337ZM0 36L-0.780869 35.3753L-2.08062 37H0V36ZM115 36V37H116V36H115ZM0 1H5V-1H0V1ZM4.03543 10.9706C4.34121 9.70714 4.7146 8.19872 4.37567 6.28383C4.03796 4.37581 3.01793 2.17164 0.780869 -0.624695L-0.780869 0.624695C1.32877 3.26174 2.14611 5.16248 2.40628 6.6324C2.66523 8.09546 2.39701 9.23801 2.09155 10.5001L4.03543 10.9706ZM5.44391 17.3708C4.23362 15.8757 3.8074 14.7608 3.69455 13.8429C3.5784 12.8982 3.77366 12.0521 4.03543 10.9706L2.09155 10.5001C1.83958 11.5412 1.54256 12.7292 1.70949 14.0869C1.87973 15.4716 2.51196 16.9276 3.88942 18.6292L5.44391 17.3708ZM4.02975 24.8032C3.76834 23.6999 3.57828 22.8549 3.69571 21.9441C3.80856 21.0689 4.22616 20.027 5.42044 18.6571L3.91289 17.3429C2.53085 18.9282 1.88794 20.3248 1.71213 21.6884C1.54089 23.0165 1.834 24.2107 2.08363 25.2643L4.02975 24.8032ZM0.780869 36.6247C3.03055 33.8126 4.04757 31.5643 4.38011 29.6097C4.71301 27.6531 4.3362 26.0966 4.02975 24.8032L2.08363 25.2643C2.39016 26.558 2.66643 27.7579 2.40844 29.2742C2.15011 30.7926 1.33229 32.7339 -0.780869 35.3753L0.780869 36.6247ZM5 35H0V37H5V35ZM115 35H5V37H115V35ZM114 10V36H116V10H114ZM105 1C109.971 1 114 5.02944 114 10H116C116 3.92487 111.075 -1 105 -1V1ZM5 1H105V-1H5V1Z" fill="#E5E0E3" mask="url(#path-1-inside-1)"/>
        //- <path d="M33.2584 20.896C32.4184 21.736 31.3904 22.156 30.1744 22.156C28.9584 22.156 27.9264 21.736 27.0784 20.896C26.2384 20.048 25.8184 19.016 25.8184 17.8C25.8184 16.584 26.2384 15.556 27.0784 14.716C27.9264 13.868 28.9584 13.444 30.1744 13.444C31.3904 13.444 32.4184 13.868 33.2584 14.716C34.1064 15.556 34.5304 16.584 34.5304 17.8C34.5304 19.016 34.1064 20.048 33.2584 20.896ZM28.0504 19.96C28.6264 20.528 29.3344 20.812 30.1744 20.812C31.0144 20.812 31.7184 20.528 32.2864 19.96C32.8624 19.384 33.1504 18.664 33.1504 17.8C33.1504 16.936 32.8624 16.22 32.2864 15.652C31.7184 15.076 31.0144 14.788 30.1744 14.788C29.3344 14.788 28.6264 15.076 28.0504 15.652C27.4824 16.22 27.1984 16.936 27.1984 17.8C27.1984 18.664 27.4824 19.384 28.0504 19.96ZM38.8612 15.844C39.5492 15.844 40.1052 16.064 40.5292 16.504C40.9532 16.944 41.1652 17.548 41.1652 18.316V22H39.8692V18.448C39.8692 18 39.7492 17.656 39.5092 17.416C39.2692 17.176 38.9412 17.056 38.5252 17.056C38.0692 17.056 37.7012 17.2 37.4212 17.488C37.1412 17.768 37.0012 18.2 37.0012 18.784V22H35.7052V16H37.0012V16.768C37.3932 16.152 38.0132 15.844 38.8612 15.844ZM42.5607 22V13.24H43.8567V22H42.5607ZM46.5855 14.86C46.4255 15.02 46.2335 15.1 46.0095 15.1C45.7855 15.1 45.5895 15.02 45.4215 14.86C45.2615 14.692 45.1815 14.496 45.1815 14.272C45.1815 14.048 45.2615 13.856 45.4215 13.696C45.5815 13.528 45.7775 13.444 46.0095 13.444C46.2415 13.444 46.4375 13.528 46.5975 13.696C46.7575 13.856 46.8375 14.048 46.8375 14.272C46.8375 14.496 46.7535 14.692 46.5855 14.86ZM45.3615 22V16H46.6575V22H45.3615ZM51.3183 15.844C52.0063 15.844 52.5623 16.064 52.9863 16.504C53.4103 16.944 53.6223 17.548 53.6223 18.316V22H52.3263V18.448C52.3263 18 52.2063 17.656 51.9663 17.416C51.7263 17.176 51.3983 17.056 50.9823 17.056C50.5263 17.056 50.1583 17.2 49.8783 17.488C49.5983 17.768 49.4583 18.2 49.4583 18.784V22H48.1623V16H49.4583V16.768C49.8503 16.152 50.4703 15.844 51.3183 15.844ZM56.0377 19.552C56.1337 20.008 56.3537 20.36 56.6977 20.608C57.0417 20.848 57.4617 20.968 57.9577 20.968C58.6457 20.968 59.1617 20.72 59.5057 20.224L60.5737 20.848C59.9817 21.72 59.1057 22.156 57.9457 22.156C56.9697 22.156 56.1817 21.86 55.5817 21.268C54.9817 20.668 54.6817 19.912 54.6817 19C54.6817 18.104 54.9777 17.356 55.5697 16.756C56.1617 16.148 56.9217 15.844 57.8497 15.844C58.7297 15.844 59.4497 16.152 60.0097 16.768C60.5777 17.384 60.8617 18.132 60.8617 19.012C60.8617 19.148 60.8457 19.328 60.8137 19.552H56.0377ZM56.0257 18.496H59.5537C59.4657 18.008 59.2617 17.64 58.9417 17.392C58.6297 17.144 58.2617 17.02 57.8377 17.02C57.3577 17.02 56.9577 17.152 56.6377 17.416C56.3177 17.68 56.1137 18.04 56.0257 18.496ZM70.3061 22H68.7581L66.2981 19.228V22H65.0021V16H66.2981V18.652L68.6261 16H70.2101L67.5701 18.94L70.3061 22ZM75.1047 16H76.4847L74.1807 22.192C73.9007 22.952 73.5087 23.52 73.0047 23.896C72.5007 24.272 71.9167 24.44 71.2527 24.4V23.188C71.6607 23.212 71.9887 23.128 72.2367 22.936C72.4927 22.752 72.6967 22.452 72.8487 22.036L72.8847 21.952L70.3647 16H71.7447L73.5687 20.368L75.1047 16ZM80.6911 15.844C81.5151 15.844 82.2191 16.152 82.8031 16.768C83.3871 17.376 83.6791 18.12 83.6791 19C83.6791 19.888 83.3871 20.636 82.8031 21.244C82.2191 21.852 81.5151 22.156 80.6911 22.156C79.7791 22.156 79.0791 21.82 78.5911 21.148V24.4H77.2951V16H78.5911V16.864C79.0791 16.184 79.7791 15.844 80.6911 15.844ZM79.1311 20.38C79.4911 20.74 79.9431 20.92 80.4871 20.92C81.0311 20.92 81.4831 20.74 81.8431 20.38C82.2031 20.012 82.3831 19.552 82.3831 19C82.3831 18.448 82.2031 17.992 81.8431 17.632C81.4831 17.264 81.0311 17.08 80.4871 17.08C79.9431 17.08 79.4911 17.264 79.1311 17.632C78.7711 17.992 78.5911 18.448 78.5911 19C78.5911 19.552 78.7711 20.012 79.1311 20.38ZM87.6857 22.156C86.7817 22.156 86.0257 21.852 85.4177 21.244C84.8177 20.636 84.5177 19.888 84.5177 19C84.5177 18.104 84.8177 17.356 85.4177 16.756C86.0257 16.148 86.7817 15.844 87.6857 15.844C88.2697 15.844 88.8017 15.984 89.2817 16.264C89.7617 16.544 90.1217 16.92 90.3617 17.392L89.2457 18.04C89.1097 17.752 88.9017 17.528 88.6217 17.368C88.3497 17.2 88.0337 17.116 87.6737 17.116C87.1457 17.116 86.7017 17.296 86.3417 17.656C85.9897 18.016 85.8137 18.464 85.8137 19C85.8137 19.536 85.9897 19.984 86.3417 20.344C86.7017 20.704 87.1457 20.884 87.6737 20.884C88.0257 20.884 88.3417 20.8 88.6217 20.632C88.9097 20.464 89.1257 20.24 89.2697 19.96L90.3857 20.596C90.1297 21.076 89.7617 21.456 89.2817 21.736C88.8017 22.016 88.2697 22.156 87.6857 22.156Z" fill="white"/>
        </svg>
        +img('teddy.jpg').event-item-online__img
      .event-item-online__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
    .white-bg-element.event-item-no-image
      .event-item-no-image__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item-no-image__info-wrap 
        .event-item-no-image__info-item
          .event-item-no-image__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item-no-image__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item-no-image__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item-no-image__info-item
          .event-item-no-image__info-item-icon 
            +svg('marker')
          .event-item-no-image__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
