
extends ../layout/main
block variable
  -
    var title_page = 'event-anonce'
    var id_page = 'id-page-event-anonce'
    var class_page = 'class-page-event-anonce'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/event-anonce.js')
block content
  .page-part.event-anonce-wrapper
    .learn-block(data-anonce-filter)
      button.active(data-anonce-future) Відбудуться
      button(data-anonce-past) Завершилися
    .on-light-bg-breadcrumbs 
      include ../includes/breadcrumbs.pug
    .page-title.text-violet Анонси подій
    .white-bg-element.event-item.finished.fade-in-fwd(data-event-item)
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        a(href="single-event.html").button-std.button-std--orange.small.max-content 
          div Детальніше
        .finish-phrase завершено
      .event-item__info-wrap
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.fade-in-fwd.event-item(data-event-item)
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        a(href="single-event.html").button-std.button-std--orange.small.max-content 
          div Детальніше
        .finish-phrase завершено
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
            

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
