extends ../layout/main
block variable

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
block content
  .ms 
    .ms__title.uppercased.text-violet(data-start="0" data-end="10")
      <span data-text-entrance-anim>Зробіть крок до фінансової незалежності </span>
      <span data-text-entrance-anim class="text-orange">з кар’єрним хабом</span>
    a(href="cabinet.html").button-std.button-std--orange Отримати консультацію
    +img('home/ms-bg.svg')
  .screen2
    img(src="./assets/images/home/screen2-decor.svg").screen2__decor
    .screen2__text 
      .title.text-violet(data-text-entrance-anim) Про Розірви коло Кар’єрний хаб
      p(data-text-entrance-anim) Якщо жінка економічно незалежна, їй набагато легше розірвати коло домашнього чи гендерно зумовленого насильства. UNFPA, Фонд ООН у галузі народонаселення в Україні, започатковує проєкт Кар’єрний хаб —  Women Career Hub — Кар’єрний хаб. Це онлайн-платформа, яка покликана розвивати професійний потенціал та фінансову спроможність жінок, постраждалих від насильства, та жінок, які перебувають у групі ризику потрапляння у випадки насильства. 
      .button-std.button-std--orange Дивитися розділ
    .screen2__img 
      include ../../assets/images/home/screen2-img.svg
  .screen3
    img(src="./assets/images/home/screen2-decor.svg").screen3__decor
    .screen3__text 
      .title.text-violet(data-text-entrance-anim) Консультації кар’єрних радників
      p(data-text-entrance-anim) Через Кар’єрний хаб ви можете домовитися про безкоштовну індивідуальну консультацію з кар’єрним радником чи радницею для здобуття чи покращення професійних навичок. Фахівці оцінять ваші персональні кар’єрні потреби, проаналізують можливості, допоможуть сформувати кар’єрний план, скласти резюме та навіть забезпечать супроводом під час адаптації на новому робочому місці. 
      .button-std.button-std--orange Дивитися розділ
    .screen3__img( data-home-paralax)
      include ../../assets/images/home/screen3-img.svg
  .screen4
    img(src="./assets/images/home/screen2-decor.svg").screen4__decor
    .screen4__text 
      .title.text-violet(data-text-entrance-anim) Підтримка психолога
      p(data-text-entrance-anim) Кар’єрний хаб пропонує комплексний супровід жінок, постраждалих від домашнього чи гендерно зумовленого насильства. Залежно від ваших потреб, кар’єрні радники можуть направити на консультацію до психолога. В розділі «Підтримка психолога» ви можете прочитати поради фахівців, як будувати історію фінансово незалежного життя.
      .button-std.button-std--orange(data-text-entrance-anim) Дивитися розділ
    .screen4__img 
      include ../../assets/images/home/screen4-img.svg
  .screen5
    img(src="./assets/images/home/screen2-decor.svg").screen5__decor
    .screen5__text 
      .title.text-violet(data-text-entrance-anim) Можливості та навчання 
      p(data-text-entrance-anim) У Кар’єрному хабі є можливість подати заявку на безкоштовні професійні курси, які допоможуть отримати нові знання, навички чи навіть професію! Це допоможе вам  знайти роботу та будувати ваше життя без насильства. Навчальні курси формуються на основі потреб, які виявляють кар’єрні радники. Тому перед вибором курсів ми рекомендуємо записатись на консультацію до кар’єрних радників.
      .button-std.button-std--orange Дивитися розділ
    .screen5__img 
      include ../../assets/images/home/screen5-img.svg

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
