
extends ../layout/main
block variable
  -
    var title_page = 'search-results'
    var id_page = 'id-page-search-results'
    var class_page = 'class-page-search-results'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/search-results.js')
block content
  .page-part.fdc
    .page-title.text-violet Результати пошуку
    p.result-view-block За запитом “Дім” знайдено <b><span class="result-count">1</span> результат:</b>
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
    .white-bg-element.event-item
      +img('teddy.jpg').event-item__img
      .event-item__text
        .subtitle-small.text-violet Дім (не)безпеки
        p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
        .button-std.button-std--orange.small.max-content Детальніше
      .event-item__info-wrap 
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('calendar')
          .event-item__info-item-text
            b Дата проведення:
            div 25.11.2020 – 10.12.2020
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('clock')
          .event-item__info-item-text
            b Час проведення:
            div 10:00-16:00
        .event-item__info-item
          .event-item__info-item-icon 
            +svg('marker')
          .event-item__info-item-text
            b Місце проведення: 
            div м. Київ, Михайлівська площа
  .page-part.fdc
    .page-title.text-violet результати пошуку
    p.result-view-block За запитом “Дім”  <b><span class="result-count">1</span> нічого не знайдено</b>
    a(onclick="window.history.go(-1);").button-std.button-std--orange.small.max-content Повернутися назад
    <svg class="empty-res-img" width="634" height="348" viewBox="0 0 634 348" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
      <path d="M231.682 31.1834L176.258 43.1528L192.639 119.007L248.063 107.037L231.682 31.1834Z" fill="#F5F5F5"/>
      <path d="M495.5 0H306.6V122.8H495.5V0Z" fill="#F5F5F5"/>
      <path d="M426.001 62.245C429.298 48.4402 420.78 34.5763 406.975 31.2791C393.17 27.9819 379.306 36.5 376.009 50.3048C372.712 64.1096 381.23 77.9736 395.035 81.2708C408.84 84.568 422.704 76.0499 426.001 62.245Z" fill="#E0E0E0"/>
      <path d="M409.701 56.2L403.001 60.1L396.301 64V56.2V48.5L403.001 52.3L409.701 56.2Z" fill="#F5F5F5"/>
      <path d="M495.5 100.8H306.6V122.9H495.5V100.8Z" fill="#E0E0E0"/>
      <path d="M325 111.8L322.2 113.4L319.5 114.9V111.8V108.7L322.2 110.2L325 111.8Z" fill="#F5F5F5"/>
      <path d="M479.9 111.3H340.6V112.3H479.9V111.3Z" fill="#F5F5F5"/>
      <path d="M343.399 111.8C343.399 112.9 342.499 113.9 341.299 113.9C340.099 113.9 339.199 113 339.199 111.8C339.199 110.7 340.099 109.7 341.299 109.7C342.499 109.7 343.399 110.7 343.399 111.8Z" fill="#F5F5F5"/>
      <path d="M628.201 262.7H445.801C442.801 262.7 440.301 260.2 440.301 257.2V94C440.301 91 442.801 88.5 445.801 88.5H628.201C631.201 88.5 633.701 91 633.701 94V257.3C633.701 260.3 631.201 262.7 628.201 262.7Z" fill="#F5F5F5"/>
      <path d="M633.701 107.9H440.301V94.9C440.301 91.4 443.201 88.5 446.701 88.5H627.301C630.801 88.5 633.701 91.4 633.701 94.9V107.9Z" fill="#EBEBEB"/>
      <path d="M452.102 99.7C452.93 99.7 453.602 99.0284 453.602 98.2C453.602 97.3716 452.93 96.7 452.102 96.7C451.273 96.7 450.602 97.3716 450.602 98.2C450.602 99.0284 451.273 99.7 452.102 99.7Z" fill="#FAFAFA"/>
      <path d="M462.801 98.2C462.801 99 462.101 99.7 461.301 99.7C460.501 99.7 459.801 99 459.801 98.2C459.801 97.4 460.501 96.7 461.301 96.7C462.101 96.7 462.801 97.4 462.801 98.2Z" fill="#FAFAFA"/>
      <path d="M470.4 99.7C471.229 99.7 471.9 99.0284 471.9 98.2C471.9 97.3716 471.229 96.7 470.4 96.7C469.572 96.7 468.9 97.3716 468.9 98.2C468.9 99.0284 469.572 99.7 470.4 99.7Z" fill="#FAFAFA"/>
      <path d="M610.4 123.6H537.4V126.2H610.4V123.6Z" fill="#FAFAFA"/>
      <path d="M610.4 134.5H537.4V137.1H610.4V134.5Z" fill="#FAFAFA"/>
      <path d="M610.4 145.4H537.4V148H610.4V145.4Z" fill="#FAFAFA"/>
      <path d="M610.4 156.2H537.4V158.8H610.4V156.2Z" fill="#FAFAFA"/>
      <path d="M573.9 167.1H537.4V169.7H573.9V167.1Z" fill="#FAFAFA"/>
      <path d="M459.918 191.16H532.918V188.56H459.918V191.16Z" fill="#FAFAFA"/>
      <path d="M459.918 202.011H532.918V199.411H459.918V202.011Z" fill="#FAFAFA"/>
      <path d="M459.918 212.862H532.918V210.262H459.918V212.862Z" fill="#FAFAFA"/>
      <path d="M459.918 223.813H532.918V221.213H459.918V223.813Z" fill="#FAFAFA"/>
      <path d="M496.328 234.664H532.828V232.064H496.328V234.664Z" fill="#FAFAFA"/>
      <path d="M608 185.6H545.5V237.6H608V185.6Z" fill="#FAFAFA"/>
      <path d="M545.4 221.9L563.8 208.9L576.7 217.9L597 200.7L608 211.6V237.6H545.5L545.4 221.9Z" fill="#EBEBEB"/>
      <path d="M577.8 205.9C580.672 205.9 583 203.572 583 200.7C583 197.828 580.672 195.5 577.8 195.5C574.928 195.5 572.6 197.828 572.6 200.7C572.6 203.572 574.928 205.9 577.8 205.9Z" fill="#EBEBEB"/>
      <path d="M522.301 122H459.801V174H522.301V122Z" fill="#FAFAFA"/>
      <path d="M459.701 158.3L478.201 145.4L491.101 154.3L511.401 137.1L522.301 148V174H459.801L459.701 158.3Z" fill="#EBEBEB"/>
      <path d="M492.202 142.3C495.074 142.3 497.402 139.972 497.402 137.1C497.402 134.228 495.074 131.9 492.202 131.9C489.33 131.9 487.002 134.228 487.002 137.1C487.002 139.972 489.33 142.3 492.202 142.3Z" fill="#EBEBEB"/>
      <path d="M228 295.7H4.7C2.1 295.7 0 293.6 0 291V169.7H232.6V291C232.6 293.6 230.6 295.7 228 295.7Z" fill="#F5F5F5"/>
      <path d="M232.6 169.7H0V193.1H232.6V169.7Z" fill="#EBEBEB"/>
      <path d="M14.2004 183.2C15.1945 183.2 16.0004 182.394 16.0004 181.4C16.0004 180.406 15.1945 179.6 14.2004 179.6C13.2063 179.6 12.4004 180.406 12.4004 181.4C12.4004 182.394 13.2063 183.2 14.2004 183.2Z" fill="#FAFAFA"/>
      <path d="M25.2004 183.2C26.1945 183.2 27.0004 182.394 27.0004 181.4C27.0004 180.406 26.1945 179.6 25.2004 179.6C24.2063 179.6 23.4004 180.406 23.4004 181.4C23.4004 182.394 24.2063 183.2 25.2004 183.2Z" fill="#FAFAFA"/>
      <path d="M36.2004 183.2C37.1945 183.2 38.0004 182.394 38.0004 181.4C38.0004 180.406 37.1945 179.6 36.2004 179.6C35.2063 179.6 34.4004 180.406 34.4004 181.4C34.4004 182.394 35.2063 183.2 36.2004 183.2Z" fill="#FAFAFA"/>
      <path d="M204.601 212H116.801V215.2H204.601V212Z" fill="#EBEBEB"/>
      <path d="M204.601 225.1H116.801V228.3H204.601V225.1Z" fill="#EBEBEB"/>
      <path d="M204.601 238.1H116.801V241.3H204.601V238.1Z" fill="#EBEBEB"/>
      <path d="M204.601 251.2H116.801V254.4H204.601V251.2Z" fill="#EBEBEB"/>
      <path d="M160.701 264.3H116.801V267.5H160.701V264.3Z" fill="#EBEBEB"/>
      <path d="M94.5984 209.7H19.3984V272.2H94.5984V209.7Z" fill="#FAFAFA"/>
      <path d="M19.1992 253.4L41.3992 237.8L56.8992 248.6L81.2992 227.9L94.4992 241V272.3H19.3992L19.1992 253.4Z" fill="#EBEBEB"/>
      <path d="M64.4984 227.9C64.4984 231.4 61.6984 234.2 58.1984 234.2C54.6984 234.2 51.8984 231.4 51.8984 227.9C51.8984 224.4 54.6984 221.6 58.1984 221.6C61.6984 221.6 64.4984 224.5 64.4984 227.9Z" fill="#EBEBEB"/>
      <path d="M224.684 44.8853L169.26 56.8547L185.641 132.709L241.065 120.739L224.684 44.8853Z" fill="white"/>
      <path d="M241 120.7C241 120.7 241 120.6 240.9 120.3C240.8 120 240.8 119.7 240.7 119.2C240.5 118.2 240.2 116.9 239.8 115.1C239 111.5 237.8 106.2 236.4 99.5C233.5 86.2 229.4 67.2 224.5 44.8L224.8 45C208.1 48.6 189.3 52.7 169.4 57L169.6 56.7C175.7 85 181.3 111.3 185.9 132.5L185.6 132.3C202.4 128.7 216.2 125.8 225.9 123.7C230.7 122.7 234.5 121.9 237.1 121.3C238.4 121 239.4 120.8 240.1 120.7C240.7 120.8 241 120.7 241 120.7C241 120.7 240.7 120.8 240 120.9C239.3 121.1 238.4 121.3 237.1 121.6C234.5 122.2 230.8 123 226 124.1C216.3 126.2 202.5 129.3 185.6 132.9H185.4V132.7C180.8 111.4 175.1 85.2 169 56.9L168.9 56.6L169.2 56.5C189.1 52.2 207.9 48.2 224.6 44.6H224.8V44.8C229.6 67.3 233.7 86.3 236.5 99.7C237.9 106.4 239 111.6 239.8 115.2C240.2 117 240.5 118.4 240.7 119.3C240.8 119.8 240.9 120.1 240.9 120.3C241 120.6 241 120.7 241 120.7Z" fill="#263238"/>
      <path d="M206.4 64.8C206.4 64.9 200.4 66.4 193 68C185.6 69.6 179.5 70.8 179.5 70.7C179.5 70.6 185.5 69.1 192.9 67.5C200.3 65.8 206.4 64.6 206.4 64.8Z" fill="#263238"/>
      <path d="M222.4 68.1999C222.4 68.2999 213.2 70.4999 201.7 72.8999C190.2 75.3999 180.9 77.2999 180.9 77.0999C180.9 76.9999 190.1 74.7999 201.6 72.3999C213 69.9999 222.4 68.0999 222.4 68.1999Z" fill="#263238"/>
      <path d="M223.9 75.1C223.9 75.2 214.7 77.4 203.2 79.8C191.7 82.3 182.4 84.2 182.4 84C182.4 83.9 191.6 81.7 203.1 79.3C214.5 76.8 223.8 74.9 223.9 75.1Z" fill="#263238"/>
      <path d="M225.4 82C225.4 82.1 216.2 84.3 204.7 86.7C193.2 89.2 183.9 91.1 183.9 90.9C183.9 90.8 193.1 88.6 204.6 86.2C216 83.7 225.3 81.8 225.4 82Z" fill="#263238"/>
      <path d="M226.801 88.8C226.801 88.9 217.601 91.1 206.101 93.5C194.601 96 185.301 97.9 185.301 97.7C185.301 97.6 194.501 95.4 206.001 93C217.501 90.6 226.801 88.7 226.801 88.8Z" fill="#263238"/>
      <path d="M228.301 95.6999C228.301 95.7999 219.101 97.9999 207.601 100.4C196.101 102.9 186.801 104.8 186.801 104.6C186.801 104.5 196.001 102.3 207.501 99.8999C219.001 97.4999 228.301 95.5999 228.301 95.6999Z" fill="#263238"/>
      <path d="M229.801 102.6C229.801 102.7 220.601 104.9 209.101 107.3C197.601 109.8 188.301 111.7 188.301 111.5C188.301 111.4 197.501 109.2 209.001 106.8C220.501 104.3 229.801 102.4 229.801 102.6Z" fill="#263238"/>
      <path d="M212.101 113.6C212.101 113.7 207.201 114.9 201.001 116.3C194.801 117.6 189.801 118.6 189.801 118.5C189.801 118.4 194.701 117.2 200.901 115.8C207.101 114.4 212.101 113.5 212.101 113.6Z" fill="#263238"/>
      <path d="M483.9 239L498.1 275.4L504 265.9L512.2 276.6L522 267.3L512.7 258.3L521.3 252.5L483.9 239Z" fill="#E8505B"/>
      <path d="M478.601 244.4C478.701 244.5 476.401 246.1 473.401 248C470.501 249.9 468.001 251.3 468.001 251.1C467.901 251 470.201 249.4 473.201 247.5C476.101 245.7 478.501 244.3 478.601 244.4Z" fill="#263238"/>
      <path d="M479.701 237C479.701 237.1 478.801 236.8 477.401 236.4C476.001 236 474.101 235.3 472.101 234.4C470.001 233.6 468.201 232.7 466.901 232.1C465.601 231.5 464.801 231.1 464.801 231C464.801 230.9 465.701 231.2 467.001 231.8C468.501 232.4 470.301 233.1 472.301 233.9C474.301 234.7 476.001 235.4 477.601 236C478.901 236.6 479.701 237 479.701 237Z" fill="#263238"/>
      <path d="M484 220.5C484.1 220.5 484.3 221.3 484.5 222.5C484.7 223.8 485 225.5 485.3 227.4C485.5 229.3 485.7 231.1 485.8 232.4C485.9 233.7 485.9 234.5 485.8 234.5C485.7 234.5 485.3 231.4 484.8 227.5C484.3 223.7 483.8 220.5 484 220.5Z" fill="#263238"/>
      <path d="M503.601 228.7C503.701 228.8 501.001 230 498.101 231.9C495.101 233.8 492.801 235.5 492.701 235.3C492.701 235.2 493.201 234.8 494.101 234.1C495.001 233.4 496.301 232.4 497.801 231.5C500.801 229.5 503.601 228.5 503.601 228.7Z" fill="#263238"/>
      <path d="M154 245.2C153.9 245.2 154 243.6 153.3 240.8C153 239.4 152.3 237.8 151.3 236C150.3 234.3 148.8 232.5 146.7 230.9C144.7 229.4 142.1 228.1 139.1 227.6C136.2 227.1 132.8 227.2 129.7 228.4C128.1 229 126.6 229.8 125.2 230.8C124.5 231.3 123.8 231.9 123.2 232.5C122.6 233.2 122 233.8 121.4 234.6C119.2 237.5 118 241.3 117.9 245.2C117.9 249.1 119.2 252.8 121.4 255.8C121.9 256.6 122.6 257.2 123.2 257.9C123.9 258.5 124.5 259.1 125.2 259.6C126.6 260.7 128.1 261.5 129.7 262C132.9 263.2 136.2 263.3 139.1 262.8C142.1 262.3 144.6 261 146.7 259.5C148.7 258 150.2 256.2 151.3 254.4C152.3 252.7 153 251 153.3 249.6C154 246.8 153.9 245.2 154 245.2C154 245.2 154 245.3 154 245.5C154 245.7 154 246 154 246.4C154 246.8 154 247.3 153.9 247.8C153.8 248.4 153.8 249 153.6 249.7C153.3 251.1 152.7 252.8 151.6 254.6C150.6 256.4 149.1 258.2 147 259.8C144.9 261.4 142.3 262.7 139.3 263.3C136.3 263.8 132.9 263.8 129.7 262.5C128.1 261.9 126.5 261.1 125 260C124.3 259.5 123.6 258.8 122.9 258.2C122.3 257.5 121.6 256.8 121.1 256.1C118.8 253.1 117.5 249.2 117.5 245.2C117.5 241.2 118.8 237.3 121.1 234.3C121.6 233.5 122.3 232.9 122.9 232.2C123.6 231.6 124.2 230.9 125 230.4C126.4 229.3 128 228.5 129.7 227.9C132.9 226.7 136.3 226.6 139.3 227.1C142.3 227.7 144.9 229 147 230.6C149.1 232.2 150.6 234 151.6 235.8C152.6 237.6 153.3 239.3 153.6 240.7C153.8 241.4 153.9 242 153.9 242.6C154 243.2 154 243.6 154 244C154 244.4 154 244.6 154 244.9C154 245.1 154 245.2 154 245.2Z" fill="#263238"/>
      <path d="M135.8 254.3C135.7 254.3 135.5 250.2 135.5 245.2C135.5 240.2 135.6 236.1 135.8 236.1C136 236.1 136.1 240.2 136.1 245.2C136.1 250.2 136 254.3 135.8 254.3Z" fill="#263238"/>
      <path d="M144.899 245.2C144.899 245.3 140.799 245.5 135.799 245.5C130.799 245.5 126.699 245.4 126.699 245.2C126.699 245 130.799 244.9 135.799 244.9C140.899 244.9 144.899 245 144.899 245.2Z" fill="#263238"/>
      <path d="M432.3 303.8C432.2 303.9 419.6 284.4 404.2 260.4C388.8 236.4 376.5 216.8 376.6 216.7C376.7 216.6 389.3 236 404.7 260.1C420.1 284.2 432.4 303.8 432.3 303.8Z" fill="#263238"/>
      <path d="M437.799 346.2C453.871 346.2 466.899 333.171 466.899 317.1C466.899 301.028 453.871 288 437.799 288C421.728 288 408.699 301.028 408.699 317.1C408.699 333.171 421.728 346.2 437.799 346.2Z" fill="white"/>
      <path d="M408.6 317.1C408.6 317.1 408.6 316.9 408.6 316.6C408.6 316.3 408.6 315.8 408.6 315.2C408.6 314.9 408.6 314.6 408.6 314.2C408.6 313.8 408.7 313.4 408.8 313C408.9 312.1 409 311.1 409.4 310C409.9 307.7 410.9 305 412.6 302.2C414.3 299.4 416.7 296.4 420 293.8C423.3 291.3 427.5 289.1 432.3 288.3C433.5 288.1 434.7 287.9 436 287.9C436.6 287.9 437.3 287.8 437.9 287.8C438.5 287.8 439.2 287.9 439.8 287.9C440.5 287.9 441.1 288 441.8 288.1C442.5 288.2 443.1 288.3 443.8 288.4C445.1 288.7 446.4 289 447.7 289.5C449 289.9 450.3 290.6 451.5 291.2C452.1 291.5 452.7 291.9 453.3 292.3C453.9 292.6 454.5 293.1 455.1 293.5C456.3 294.3 457.3 295.3 458.4 296.3C459.4 297.4 460.4 298.5 461.3 299.7C463.1 302.1 464.6 304.8 465.5 307.8C466.5 310.8 467 313.9 467 317.1C467 320.3 466.4 323.4 465.5 326.4C464.6 329.4 463 332.1 461.3 334.5C460.4 335.7 459.4 336.8 458.4 337.9C457.3 338.9 456.3 339.9 455.1 340.7C454.5 341.1 454 341.6 453.3 341.9C452.7 342.3 452.1 342.7 451.5 343C450.2 343.6 449 344.3 447.7 344.7C446.4 345.2 445.1 345.5 443.8 345.8C443.1 345.9 442.5 346 441.8 346.1C441.1 346.2 440.5 346.3 439.8 346.3C439.1 346.3 438.5 346.4 437.9 346.4C437.3 346.4 436.6 346.3 436 346.3C434.7 346.3 433.5 346 432.3 345.9C427.5 345 423.3 342.9 420 340.4C416.7 337.9 414.3 334.9 412.6 332C410.9 329.1 409.9 326.5 409.4 324.2C409.1 323.1 409 322.1 408.8 321.2C408.7 320.8 408.7 320.4 408.6 320C408.6 319.6 408.6 319.3 408.6 319C408.6 318.4 408.6 317.9 408.6 317.6C408.6 317.3 408.6 317.1 408.6 317.1C408.6 317.1 408.6 317.3 408.7 317.6C408.7 317.9 408.8 318.4 408.8 319C408.8 319.3 408.8 319.6 408.9 320C408.9 320.4 409 320.8 409.1 321.2C409.2 322.1 409.4 323.1 409.7 324.2C410.2 326.4 411.3 329.1 412.9 331.9C414.6 334.7 417 337.6 420.3 340.1C423.6 342.6 427.7 344.7 432.5 345.5C433.7 345.7 434.9 345.9 436.2 345.9C436.8 345.9 437.5 346 438.1 346C438.7 346 439.4 345.9 440 345.9C440.6 345.9 441.3 345.8 441.9 345.7C442.5 345.6 443.2 345.5 443.8 345.4C445.1 345.1 446.4 344.8 447.7 344.3C449 343.9 450.2 343.2 451.5 342.6C452.1 342.3 452.7 341.9 453.3 341.5C453.9 341.2 454.5 340.7 455 340.3C456.2 339.5 457.2 338.5 458.3 337.5C459.3 336.4 460.3 335.4 461.1 334.1C462.8 331.7 464.3 329.1 465.2 326.1C466.1 323.2 466.6 320.1 466.7 317C466.7 313.9 466.2 310.8 465.2 307.9C464.3 305 462.8 302.3 461.1 299.9C460.3 298.7 459.2 297.6 458.3 296.6C457.2 295.6 456.2 294.6 455 293.8C454.4 293.4 453.9 292.9 453.3 292.6C452.7 292.2 452.1 291.9 451.5 291.5C450.2 290.9 449 290.3 447.7 289.8C446.4 289.3 445.1 289 443.8 288.7C443.2 288.6 442.5 288.5 441.9 288.4C441.3 288.3 440.6 288.2 440 288.2C439.4 288.2 438.7 288.1 438.1 288.1C437.5 288.1 436.8 288.2 436.2 288.2C434.9 288.2 433.7 288.5 432.5 288.6C427.7 289.4 423.6 291.5 420.3 294C417 296.5 414.6 299.4 412.9 302.2C411.2 305 410.2 307.7 409.7 309.9C409.4 311 409.2 312 409.1 312.9C409 313.3 409 313.7 408.9 314.1C408.9 314.5 408.9 314.8 408.8 315.1C408.8 315.7 408.7 316.1 408.7 316.5C408.6 316.9 408.6 317.1 408.6 317.1Z" fill="#263238"/>
      <path d="M429.799 306.4L425.799 329.2L437.799 327.6L449.699 329.2L444.899 306.4H429.799Z" fill="#263238"/>
      <path d="M442.799 306.7C442.699 306.7 442.499 305.9 441.799 304.7C441.499 304.1 440.999 303.4 440.399 302.8C440.099 302.5 439.699 302.3 439.199 302.1C438.799 301.9 438.299 301.9 437.799 301.9C436.799 301.9 435.799 302.1 435.099 302.6C434.399 303.1 433.899 303.7 433.599 304.3C432.999 305.5 432.799 306.4 432.699 306.3C432.699 306.3 432.699 305.4 433.299 304.1C433.599 303.5 433.999 302.7 434.899 302.1C435.699 301.5 436.799 301.3 437.899 301.3C438.499 301.3 438.999 301.4 439.499 301.6C439.999 301.8 440.399 302.1 440.799 302.4C441.499 303.1 441.999 303.8 442.299 304.5C442.799 305.8 442.899 306.7 442.799 306.7Z" fill="#263238"/>
      <path d="M321.501 305.8C321.401 305.8 321.201 285.7 321.201 261C321.201 236.2 321.301 216.2 321.501 216.2C321.601 216.2 321.801 236.3 321.801 261C321.701 285.7 321.601 305.8 321.501 305.8Z" fill="#263238"/>
      <path d="M320.901 346.9C336.972 346.9 350.001 333.871 350.001 317.8C350.001 301.728 336.972 288.7 320.901 288.7C304.829 288.7 291.801 301.728 291.801 317.8C291.801 333.871 304.829 346.9 320.901 346.9Z" fill="white"/>
      <path d="M291.701 317.8C291.701 317.8 291.701 317.6 291.701 317.3C291.701 317 291.701 316.5 291.701 315.9C291.701 315.6 291.701 315.3 291.701 314.9C291.701 314.5 291.801 314.1 291.901 313.7C292.001 312.8 292.101 311.8 292.501 310.7C293.001 308.4 294.001 305.7 295.701 302.9C297.401 300.1 299.801 297.1 303.101 294.5C306.401 292 310.601 289.8 315.401 289C316.601 288.8 317.801 288.6 319.101 288.6C319.701 288.6 320.401 288.5 321.001 288.5C321.601 288.5 322.301 288.6 322.901 288.6C323.601 288.6 324.201 288.7 324.901 288.8C325.601 288.9 326.201 289 326.901 289.1C328.201 289.4 329.501 289.7 330.801 290.2C332.101 290.6 333.401 291.3 334.601 291.9C335.201 292.2 335.801 292.6 336.401 293C337.001 293.3 337.601 293.8 338.201 294.2C339.401 295 340.401 296 341.501 297C342.501 298.1 343.501 299.2 344.401 300.4C346.201 302.8 347.701 305.5 348.601 308.5C349.601 311.5 350.101 314.6 350.101 317.8C350.101 321 349.501 324.1 348.601 327.1C347.701 330.1 346.101 332.8 344.401 335.2C343.501 336.4 342.501 337.5 341.501 338.6C340.401 339.6 339.401 340.6 338.201 341.4C337.601 341.8 337.101 342.3 336.401 342.6C335.801 343 335.201 343.4 334.601 343.7C333.301 344.3 332.101 345 330.801 345.4C329.501 345.9 328.201 346.2 326.901 346.5C326.201 346.6 325.601 346.7 324.901 346.8C324.201 346.9 323.601 347 322.901 347C322.201 347 321.601 347.1 321.001 347.1C320.401 347.1 319.701 347 319.101 347C317.801 347 316.601 346.7 315.401 346.6C310.601 345.7 306.401 343.6 303.101 341.1C299.801 338.6 297.401 335.6 295.701 332.7C294.001 329.8 293.001 327.2 292.501 324.9C292.201 323.8 292.101 322.8 291.901 321.9C291.801 321.5 291.801 321.1 291.701 320.7C291.701 320.3 291.701 320 291.701 319.7C291.701 319.1 291.701 318.6 291.701 318.3C291.701 317.9 291.701 317.8 291.701 317.8C291.701 317.8 291.701 318 291.801 318.3C291.801 318.6 291.901 319.1 291.901 319.7C291.901 320 291.901 320.3 292.001 320.7C292.001 321.1 292.101 321.5 292.201 321.9C292.301 322.8 292.501 323.8 292.801 324.9C293.301 327.1 294.401 329.8 296.001 332.6C297.701 335.4 300.101 338.3 303.401 340.8C306.701 343.3 310.801 345.4 315.601 346.2C316.801 346.4 318.001 346.6 319.301 346.6C319.901 346.6 320.601 346.7 321.201 346.7C321.801 346.7 322.501 346.6 323.101 346.6C323.701 346.6 324.401 346.5 325.001 346.4C325.601 346.3 326.301 346.2 326.901 346.1C328.201 345.8 329.501 345.5 330.801 345C332.101 344.6 333.301 343.9 334.601 343.3C335.201 343 335.801 342.6 336.401 342.2C337.001 341.9 337.601 341.4 338.101 341C339.301 340.2 340.301 339.2 341.401 338.2C342.401 337.1 343.401 336.1 344.201 334.8C345.901 332.4 347.401 329.8 348.301 326.8C349.201 323.9 349.701 320.8 349.801 317.7C349.801 314.6 349.301 311.5 348.301 308.6C347.401 305.7 345.901 303 344.201 300.6C343.401 299.4 342.301 298.3 341.401 297.3C340.301 296.3 339.301 295.3 338.101 294.5C337.501 294.1 337.001 293.6 336.401 293.3C335.801 292.9 335.201 292.6 334.601 292.2C333.301 291.6 332.101 291 330.801 290.5C329.501 290 328.201 289.7 326.901 289.4C326.301 289.3 325.601 289.2 325.001 289.1C324.401 289 323.701 288.9 323.101 288.9C322.501 288.9 321.801 288.8 321.201 288.8C320.601 288.8 319.901 288.9 319.301 288.9C318.001 288.9 316.801 289.2 315.601 289.3C310.801 290.1 306.701 292.2 303.401 294.7C300.101 297.2 297.701 300.1 296.001 302.9C294.301 305.7 293.301 308.4 292.801 310.6C292.501 311.7 292.301 312.7 292.201 313.6C292.101 314 292.101 314.4 292.001 314.8C292.001 315.2 292.001 315.5 291.901 315.8C291.901 316.4 291.801 316.8 291.801 317.2C291.701 317.6 291.701 317.8 291.701 317.8Z" fill="#263238"/>
      <path d="M320.901 304.7L308.201 316.2V330.8H318.101V322H324.301V330.8H333.501V316.2L320.901 304.7Z" fill="#263238"/>
      <path d="M208.6 304.8C208.5 304.7 221 284.9 236.6 260.5C252.2 236.1 265 216.4 265.1 216.5C265.2 216.6 252.7 236.4 237.1 260.8C221.5 285.2 208.7 304.9 208.6 304.8Z" fill="#263238"/>
      <path d="M203.899 346.5C219.97 346.5 232.999 333.471 232.999 317.4C232.999 301.328 219.97 288.3 203.899 288.3C187.827 288.3 174.799 301.328 174.799 317.4C174.799 333.471 187.827 346.5 203.899 346.5Z" fill="white"/>
      <path d="M233 317.4C233 317.4 233 317.2 232.9 316.9C232.9 316.6 232.8 316.1 232.8 315.5C232.8 315.2 232.8 314.9 232.7 314.5C232.7 314.1 232.6 313.7 232.5 313.3C232.4 312.4 232.2 311.4 231.9 310.3C231.4 308.1 230.3 305.4 228.7 302.6C227 299.8 224.6 296.9 221.3 294.4C218 291.9 213.9 289.8 209.1 289C207.9 288.8 206.7 288.6 205.4 288.6C204.8 288.6 204.1 288.5 203.5 288.5C202.9 288.5 202.2 288.6 201.6 288.6C201 288.6 200.3 288.7 199.7 288.8C199.1 288.9 198.4 289 197.8 289.1C196.5 289.4 195.2 289.7 193.9 290.2C192.6 290.6 191.4 291.3 190.1 291.9C189.5 292.2 188.9 292.6 188.3 293C187.7 293.3 187.1 293.8 186.6 294.2C185.4 295 184.4 296 183.3 297C182.3 298.1 181.3 299.1 180.5 300.3C178.8 302.7 177.3 305.3 176.4 308.3C175.5 311.2 175 314.3 174.9 317.4C174.9 320.5 175.4 323.6 176.4 326.5C177.3 329.4 178.8 332.1 180.5 334.5C181.3 335.7 182.4 336.8 183.3 337.9C184.4 338.9 185.4 339.9 186.6 340.7C187.2 341.1 187.7 341.6 188.3 341.9C188.9 342.3 189.5 342.6 190.1 343C191.4 343.6 192.6 344.2 193.9 344.7C195.2 345.2 196.5 345.5 197.8 345.8C198.4 345.9 199.1 346 199.7 346.1C200.3 346.2 201 346.3 201.6 346.3C202.2 346.3 202.9 346.4 203.5 346.4C204.1 346.4 204.8 346.3 205.4 346.3C206.7 346.3 207.9 346 209.1 345.9C213.9 345.1 218 343 221.3 340.5C224.6 338 227 335.1 228.7 332.3C230.4 329.5 231.4 326.8 231.9 324.6C232.2 323.5 232.4 322.5 232.5 321.6C232.6 321.2 232.6 320.8 232.7 320.4C232.7 320 232.7 319.7 232.8 319.4C232.8 318.8 232.9 318.4 232.9 318C233 317.5 233 317.4 233 317.4C233 317.4 233 317.6 233 317.9C233 318.2 233 318.7 233 319.3C233 319.6 233 319.9 233 320.3C233 320.7 232.9 321.1 232.8 321.5C232.7 322.4 232.6 323.4 232.2 324.5C231.7 326.8 230.7 329.5 229 332.3C227.3 335.1 224.9 338.1 221.6 340.7C218.3 343.2 214.1 345.4 209.3 346.2C208.1 346.4 206.9 346.6 205.6 346.6C205 346.6 204.3 346.7 203.7 346.7C203.1 346.7 202.4 346.6 201.8 346.6C201.1 346.6 200.5 346.5 199.8 346.4C199.1 346.3 198.5 346.2 197.8 346.1C196.5 345.8 195.2 345.5 193.9 345C192.6 344.6 191.3 343.9 190.1 343.3C189.5 343 188.9 342.6 188.3 342.2C187.7 341.9 187.1 341.4 186.5 341C185.3 340.2 184.3 339.2 183.2 338.2C182.2 337.1 181.2 336 180.3 334.8C178.5 332.4 177 329.7 176.1 326.7C175.1 323.7 174.6 320.6 174.6 317.4C174.6 314.2 175.2 311.1 176.1 308.1C177 305.1 178.6 302.4 180.3 300C181.2 298.8 182.2 297.7 183.2 296.6C184.3 295.6 185.3 294.6 186.5 293.8C187.1 293.4 187.6 292.9 188.3 292.6C188.9 292.2 189.5 291.8 190.1 291.5C191.4 290.9 192.6 290.2 193.9 289.8C195.2 289.3 196.5 289 197.8 288.7C198.5 288.6 199.1 288.5 199.8 288.4C200.5 288.3 201.1 288.2 201.8 288.2C202.5 288.2 203.1 288.1 203.7 288.1C204.3 288.1 205 288.2 205.6 288.2C206.9 288.2 208.1 288.5 209.3 288.6C214.1 289.5 218.3 291.6 221.6 294.1C224.9 296.6 227.3 299.6 229 302.5C230.7 305.4 231.7 308 232.2 310.3C232.5 311.4 232.6 312.4 232.8 313.3C232.9 313.7 232.9 314.1 233 314.5C233 314.9 233 315.2 233 315.5C233 316.1 233 316.6 233 316.9C233.1 317.2 233 317.4 233 317.4Z" fill="#263238"/>
      <path d="M215.199 302.2H192.299V332.5H215.199V302.2Z" fill="#263238"/>
      <path d="M204.797 307.1C204.797 307.2 203.097 307.4 200.997 307.4C198.897 307.4 197.197 307.3 197.197 307.1C197.197 307 198.897 306.8 200.997 306.8C203.197 306.8 204.797 306.9 204.797 307.1Z" fill="#455A64"/>
      <path d="M211.498 311.3C211.498 311.4 208.098 311.6 203.998 311.6C199.798 311.6 196.498 311.5 196.498 311.3C196.498 311.2 199.898 311 203.998 311C208.098 311.1 211.498 311.2 211.498 311.3Z" fill="#455A64"/>
      <path d="M211.498 313.9C211.498 314 208.098 314.2 203.998 314.2C199.798 314.2 196.498 314.1 196.498 313.9C196.498 313.8 199.898 313.6 203.998 313.6C208.098 313.7 211.498 313.8 211.498 313.9Z" fill="#455A64"/>
      <path d="M211.498 316.5C211.498 316.6 208.098 316.8 203.998 316.8C199.798 316.8 196.498 316.7 196.498 316.5C196.498 316.3 199.898 316.2 203.998 316.2C208.098 316.3 211.498 316.4 211.498 316.5Z" fill="#455A64"/>
      <path d="M211.498 319.1C211.498 319.2 208.098 319.4 203.998 319.4C199.798 319.4 196.498 319.3 196.498 319.1C196.498 318.9 199.898 318.8 203.998 318.8C208.098 318.9 211.498 319 211.498 319.1Z" fill="#455A64"/>
      <path d="M211.498 321.7C211.498 321.8 208.098 322 203.998 322C199.798 322 196.498 321.9 196.498 321.7C196.498 321.6 199.898 321.4 203.998 321.4C208.098 321.4 211.498 321.6 211.498 321.7Z" fill="#455A64"/>
      <path d="M211.498 324.3C211.498 324.4 208.098 324.6 203.998 324.6C199.798 324.6 196.498 324.5 196.498 324.3C196.498 324.2 199.898 324 203.998 324C208.098 324 211.498 324.2 211.498 324.3Z" fill="#455A64"/>
      <path d="M211.498 326.9C211.498 327 208.098 327.2 203.998 327.2C199.798 327.2 196.498 327.1 196.498 326.9C196.498 326.8 199.898 326.6 203.998 326.6C208.098 326.6 211.498 326.8 211.498 326.9Z" fill="#455A64"/>
      <path d="M455.501 217.2H197.501C184.401 217.2 173.701 206.5 173.701 193.4V190.8C173.701 177.7 184.401 167 197.501 167H455.601C468.701 167 479.401 177.7 479.401 190.8V193.4C479.301 206.6 468.701 217.2 455.501 217.2Z" fill="white"/>
      <path d="M411.602 166.6V217.2H454.302C468.302 217.2 479.602 205.9 479.602 191.9C479.602 177.9 468.302 166.6 454.302 166.6H411.602Z" fill="#E8505B"/>
      <path d="M451.401 190.5C451.301 190.5 451.401 189.5 451.001 187.9C450.601 186.3 449.501 183.9 447.101 182.1C445.901 181.2 444.401 180.5 442.701 180.2C441.001 179.9 439.001 180 437.201 180.7C436.301 181 435.401 181.5 434.601 182.1C433.801 182.7 433.001 183.5 432.401 184.3C431.101 186 430.401 188.2 430.401 190.5C430.401 192.8 431.101 195 432.401 196.7C433.001 197.6 433.801 198.3 434.601 198.9C435.401 199.5 436.301 200 437.201 200.3C439.001 201 441.001 201.1 442.701 200.8C444.401 200.5 445.901 199.7 447.101 198.9C449.501 197.1 450.601 194.7 451.001 193.1C451.301 191.5 451.301 190.5 451.401 190.5C451.401 190.5 451.501 191.5 451.201 193.1C450.801 194.7 449.801 197.2 447.301 199.1C446.101 200 444.501 200.8 442.701 201.2C440.901 201.5 438.901 201.5 437.001 200.8C436.001 200.5 435.101 200 434.201 199.3C433.301 198.7 432.501 197.9 431.901 197C430.501 195.2 429.801 192.9 429.801 190.5C429.801 188.1 430.601 185.8 431.901 184C432.601 183.1 433.301 182.3 434.201 181.7C435.101 181.1 436.001 180.6 437.001 180.2C438.901 179.5 441.001 179.4 442.701 179.8C444.501 180.1 446.001 180.9 447.301 181.9C449.801 183.8 450.801 186.3 451.201 187.9C451.501 189.6 451.401 190.5 451.401 190.5Z" fill="white"/>
      <path d="M461.301 205.5C461.201 205.6 458.501 203.8 455.101 201.4C451.801 199 449.201 197 449.201 196.9C449.301 196.8 452.001 198.6 455.401 201C458.701 203.3 461.401 205.3 461.301 205.5Z" fill="white"/>
      <path d="M389.501 187.4H202.701V198.1H389.501V187.4Z" fill="#EBEBEB"/>
      <path d="M455.5 217.2C455.5 217.2 456.1 217.2 457.2 217.1C457.8 217.1 458.5 217 459.3 216.8C460.1 216.7 461.1 216.4 462.2 216.1C464.3 215.4 466.9 214.4 469.5 212.4C469.8 212.2 470.2 211.9 470.5 211.7C470.8 211.4 471.1 211.1 471.5 210.8C472.2 210.2 472.8 209.6 473.4 208.9C474 208.2 474.6 207.4 475.2 206.6C475.5 206.2 475.7 205.7 476 205.3L476.4 204.6L476.7 203.9C477.7 202 478.3 199.9 478.8 197.6C478.9 197 479 196.4 479.1 195.8C479.1 195.2 479.2 194.6 479.2 194C479.3 192.8 479.2 191.5 479.2 190.2C479.1 185.1 477.2 179.5 473.2 175C469.2 170.5 463.1 167.3 456.3 167.1C449.5 167 442.2 167.1 434.7 167.1C374 167.1 290.2 167.1 197.6 167.2C191.9 167.2 186.2 169.4 182 173.1C177.8 176.8 174.9 182.1 174.3 187.7C174.2 188.4 174.2 189.1 174.1 189.8C174.1 190.5 174 191.2 174.1 191.9C174.1 193.3 174.1 194.7 174.3 196.1C174.6 198.9 175.4 201.5 176.7 204C179.2 208.9 183.4 212.9 188.3 215C190.8 216.1 193.4 216.7 196.1 216.9C197.4 217 198.8 217 200.1 217C201.4 217 202.8 217 204.1 217C209.5 217 214.8 217 220 217C230.5 217 240.8 217 250.8 217C290.9 217 327.1 217 357.4 217.1C387.7 217.1 412.3 217.2 429.3 217.2C437.8 217.2 444.4 217.2 448.8 217.2C451 217.2 452.7 217.2 453.9 217.2C455 217.2 455.5 217.2 455.5 217.2C455.5 217.2 454.9 217.2 453.8 217.2C452.6 217.2 450.9 217.2 448.7 217.2C444.2 217.2 437.6 217.2 429.2 217.2C412.2 217.2 387.7 217.2 357.3 217.3C327 217.3 290.8 217.3 250.7 217.4C240.7 217.4 230.4 217.4 219.9 217.4C214.6 217.4 209.3 217.4 204 217.4C202.7 217.4 201.3 217.4 200 217.4C198.7 217.4 197.3 217.4 195.9 217.3C193.2 217.1 190.5 216.5 187.9 215.4C182.8 213.2 178.5 209.2 176 204.2C174.7 201.7 173.9 199 173.6 196.1C173.5 194.7 173.4 193.3 173.4 191.9C173.4 191.2 173.4 190.5 173.4 189.8C173.4 189.1 173.4 188.4 173.6 187.7C174.3 182 177.2 176.6 181.5 172.8C185.8 168.9 191.6 166.7 197.5 166.7C290.1 166.7 373.9 166.8 434.6 166.8C442.2 166.8 449.4 166.8 456.3 166.9C463.2 167.1 469.4 170.4 473.4 174.9C477.4 179.4 479.4 185.1 479.4 190.3C479.4 191.6 479.4 192.9 479.4 194.1C479.4 194.7 479.3 195.3 479.3 195.9C479.2 196.5 479.1 197.1 479 197.7C478.5 200 477.9 202.2 476.9 204.1C476.8 204.3 476.7 204.6 476.6 204.8L476.2 205.5C475.9 205.9 475.7 206.4 475.4 206.8C474.8 207.6 474.3 208.4 473.6 209.1C473 209.8 472.4 210.5 471.7 211.1C471.4 211.4 471.1 211.7 470.7 212C470.4 212.3 470 212.5 469.7 212.7C467.1 214.6 464.4 215.7 462.3 216.4C461.2 216.7 460.3 216.9 459.4 217C458.6 217.1 457.9 217.2 457.3 217.2C456.1 217.2 455.5 217.2 455.5 217.2Z" fill="#263238"/>
      <path d="M323.1 186C322.2 184.9 322.1 184 324.1 183.9C328.6 183.5 331.9 181.5 332.5 180.4C333 179.3 331.6 178.1 330.4 178.8C329.4 179.4 327.5 179.8 326 180C324.8 180.2 323.6 180.2 322.3 180C321.2 179.8 320.3 179.7 319.5 179.5C319.5 179.5 314.7 178.5 312.7 176.9L302.6 187.7L307.3 193.1C307.3 193.1 309.6 196.5 313.6 196.1C317.7 195.7 323.1 192.8 323.1 192.8C323.8 191.7 330.4 195.7 332.5 197.2C334.6 198.7 336.2 198.3 336.1 196.9C336 195.9 329.7 191.1 327.6 189.7C326.5 188.8 324.2 187.3 323.1 186Z" fill="#FFBE9D"/>
      <path d="M317.199 195.4C317.199 195.5 316.899 195.6 316.399 195.6C315.899 195.6 315.199 195.4 314.499 194.9C313.899 194.4 313.499 193.8 313.299 193.3C313.099 192.8 313.199 192.5 313.199 192.5C313.299 192.5 313.599 193.7 314.699 194.5C315.899 195.4 317.199 195.3 317.199 195.4Z" fill="#EB996E"/>
      <path d="M321.2 193.8C321.2 193.9 320.9 194 320.4 193.9C319.9 193.9 319.2 193.7 318.6 193.2C318 192.7 317.6 192.1 317.5 191.6C317.3 191.1 317.4 190.8 317.4 190.8C317.5 190.8 317.8 191.9 318.9 192.7C320 193.7 321.2 193.7 321.2 193.8Z" fill="#EB996E"/>
      <path d="M332.1 81.6C332.5 90.5 343.3 102.6 351.4 104.6C355.6 105.6 360.5 105.1 363.8 108C369.5 112.9 366.2 123 370.1 129.5C372.5 133.5 377.2 135.5 379.9 139.3C384.4 145.6 381.4 155.2 375.3 159.9C369.2 164.6 361.1 165.5 353.5 165.3C336.8 164.9 319.6 159.5 307.5 147.7C301.8 142.1 279.6 124.9 287.3 84.1" fill="#263238"/>
      <path d="M392.5 145L328.8 126.1C323.5 123.9 319.5 123.3 319.5 123.3L298 123.4C295.1 123.4 292.3 124 289.8 125.1L231.8 144.4C227.5 145.8 224.5 150.2 224.5 155.2C224.5 161.4 229 166.4 234.4 166.4H261.2C261.1 166.7 261.1 166.8 261.1 166.8L354.2 167.1L389.7 167.2C395.2 167.2 399.6 162.1 399.6 155.9C399.8 150.8 396.8 146.3 392.5 145Z" fill="#E8505B"/>
      <path d="M379.8 151.9C379.8 151.9 379.6 151.9 379.2 151.9C378.8 151.9 378.2 151.8 377.6 151.7C376.2 151.5 374.1 151.3 371.6 151C366.5 150.5 359.4 150.1 351.6 150.2C343.8 150.3 336.7 150.9 331.7 151.6C329.2 151.9 327.1 152.2 325.7 152.4C325 152.5 324.5 152.6 324.1 152.6C323.7 152.6 323.5 152.7 323.5 152.6C323.5 152.6 323.7 152.5 324.1 152.5C324.5 152.4 325.1 152.3 325.7 152.2C327.1 151.9 329.2 151.6 331.7 151.2C336.8 150.5 343.8 149.8 351.7 149.7C359.5 149.6 366.6 150.1 371.7 150.7C374.2 151 376.3 151.3 377.7 151.5C378.4 151.6 378.9 151.7 379.3 151.8C379.6 151.8 379.8 151.8 379.8 151.9Z" fill="#263238"/>
      <g opacity="0.6">
      <g opacity="0.6">
      <path opacity="0.6" d="M364.8 136.4C364.8 136.4 364.7 136.5 364.6 136.6C364.5 136.8 364.3 136.9 364 137.2C363.5 137.7 362.8 138.5 361.7 139.4C360.7 140.3 359.4 141.4 357.8 142.5C356.2 143.6 354.2 144.7 351.9 145.3C349.5 146 346.7 145.9 343.9 145.1C341.1 144.4 338.3 142.9 335.5 141.4C332.7 139.9 329.7 138.2 326.4 137.1C323.1 136 319.4 136 316 137.6C312.6 139.1 309.8 141.4 306.7 143.1C305.9 143.5 305.1 143.9 304.3 144.2C303.5 144.5 302.7 144.8 301.9 145C300.3 145.5 298.6 145.7 297 145.8C290.5 146.3 284.7 144.2 280.7 141.3C278.7 139.9 277.2 138.3 275.8 136.9C274.4 135.6 273.1 134.5 272 133.8C269.7 132.4 268.1 132.4 268.1 132.3C268.1 132.3 268.5 132.3 269.2 132.4C269.9 132.5 270.9 132.9 272.1 133.6C273.3 134.3 274.6 135.4 276 136.7C277.4 138 279 139.6 280.9 141C284.8 143.7 290.6 145.8 296.9 145.3C298.5 145.2 300.1 144.9 301.7 144.5C302.5 144.3 303.3 144 304.1 143.7C304.9 143.3 305.7 143 306.4 142.6C309.5 141 312.3 138.7 315.7 137.1C319.1 135.5 323.1 135.4 326.4 136.6C329.8 137.6 332.7 139.4 335.5 140.9C338.3 142.4 341 143.9 343.8 144.6C346.5 145.4 349.2 145.4 351.5 144.8C353.8 144.2 355.8 143.1 357.4 142.1C359 141 360.3 140 361.3 139.1C362.3 138.2 363.1 137.5 363.6 137C363.8 136.8 364 136.6 364.2 136.4C364.7 136.4 364.8 136.4 364.8 136.4Z" fill="white"/>
      </g>
      </g>
      <g opacity="0.2">
      <path opacity="0.2" d="M265.9 151.7L306.1 159.3L301.5 166.9H300.2L265.9 151.7Z" fill="black"/>
      </g>
      <g opacity="0.6">
      <g opacity="0.6">
      <path opacity="0.6" d="M387.699 143.8C387.699 143.8 387.699 144 387.699 144.4C387.699 144.8 387.599 145.4 387.499 146.2C387.199 147.7 386.599 149.9 385.099 152.2C383.599 154.5 380.999 156.8 377.499 158C375.799 158.6 373.799 159 371.799 158.9C369.799 158.8 367.799 158.4 365.799 157.8C363.799 157.2 361.799 156.6 359.899 156.2C357.999 155.8 356.099 155.7 354.299 155.9C350.699 156.3 347.799 157.8 345.599 159.5C343.399 161.1 342.099 162.9 341.299 164.2C341.099 164.5 340.899 164.8 340.799 165.1C340.699 165.3 340.599 165.6 340.499 165.8C340.299 166.2 340.199 166.3 340.199 166.3C340.199 166.3 340.299 166.1 340.399 165.7C340.499 165.5 340.599 165.3 340.699 165C340.799 164.7 340.999 164.4 341.199 164.1C341.999 162.8 343.299 160.9 345.499 159.2C347.599 157.5 350.699 155.9 354.299 155.5C356.099 155.3 358.099 155.3 359.999 155.8C361.999 156.2 363.899 156.8 365.899 157.4C367.899 158 369.899 158.4 371.799 158.5C373.699 158.6 375.599 158.3 377.299 157.7C380.699 156.6 383.199 154.3 384.799 152.1C386.399 149.9 386.999 147.7 387.299 146.2C387.599 144.6 387.599 143.8 387.699 143.8Z" fill="white"/>
      </g>
      </g>
      <path d="M231.898 165.1C231.898 165.1 304.698 197.2 304.298 196.5C303.898 195.8 315.898 174.7 315.898 174.7L256.998 145.6L231.898 165.1Z" fill="#E8505B"/>
      <path d="M265.299 149.7C265.299 149.7 265.799 149.9 266.799 150.3C267.799 150.8 269.199 151.4 270.799 152.2C274.199 153.8 278.799 156.1 283.899 158.6C288.999 161.1 293.599 163.4 296.999 165.1C298.599 165.9 299.899 166.6 300.899 167.1C301.799 167.6 302.299 167.9 302.299 167.9C302.299 167.9 301.799 167.7 300.799 167.3C299.799 166.8 298.399 166.2 296.799 165.4C293.399 163.8 288.799 161.5 283.699 159C278.599 156.5 273.999 154.2 270.599 152.5C268.999 151.7 267.699 151 266.699 150.5C265.799 150 265.299 149.7 265.299 149.7Z" fill="#263238"/>
      <g opacity="0.6">
      <g opacity="0.6">
      <path opacity="0.6" d="M281.299 159.4C281.299 159.4 281.299 160.2 280.599 161.6C279.999 162.9 278.599 164.7 276.299 165.9C275.099 166.5 273.799 167.1 272.299 167.3C270.799 167.6 269.099 167.6 267.399 167.4C263.899 167 260.399 165.5 256.799 163.8C253.199 162.1 249.799 160.5 246.499 159.7C244.799 159.3 243.199 159.1 241.699 159.1C240.199 159.1 238.799 159.4 237.599 159.8C235.199 160.6 233.399 161.9 232.499 163C231.599 164.1 231.199 164.8 231.199 164.8C231.199 164.8 231.399 164 232.399 162.9C233.299 161.7 234.999 160.3 237.499 159.5C238.699 159.1 240.199 158.8 241.699 158.7C243.199 158.6 244.899 158.8 246.599 159.2C249.999 160 253.499 161.6 256.999 163.3C260.599 165 264.099 166.4 267.499 166.9C269.199 167.1 270.799 167.1 272.299 166.9C273.799 166.7 275.099 166.2 276.199 165.6C278.499 164.4 279.899 162.8 280.499 161.5C281.099 160.2 281.199 159.4 281.299 159.4Z" fill="white"/>
      </g>
      </g>
      <g opacity="0.6">
      <g opacity="0.6">
      <path opacity="0.6" d="M312.199 181.4C312.199 181.5 310.599 181.2 307.999 181.2C306.699 181.2 305.199 181.2 303.499 181.4C301.799 181.6 299.899 182 297.999 182.5C296.099 183 294.299 183.7 292.799 184.4C291.299 185.1 289.899 185.9 288.799 186.6C286.599 188 285.399 189.1 285.299 189C285.299 189 285.599 188.7 286.099 188.2C286.599 187.7 287.499 187 288.599 186.3C289.699 185.5 290.999 184.8 292.599 184C294.199 183.3 295.999 182.5 297.899 182C299.799 181.5 301.699 181.1 303.499 180.9C305.199 180.7 306.799 180.7 308.099 180.8C309.399 180.9 310.499 181 311.199 181.1C311.799 181.3 312.199 181.4 312.199 181.4Z" fill="white"/>
      </g>
      </g>
      <g opacity="0.2">
      <path opacity="0.2" d="M321.199 123.2C319.999 126.6 321.799 130.2 323.599 133.3C324.799 135.5 326.099 137.7 327.799 139.4C329.599 141.2 331.899 142.5 334.399 142.4C337.699 142.3 340.599 139.9 343.899 140.1C346.099 140.2 348.099 141.5 349.899 142.8C353.099 145 356.399 147.1 359.999 148.4C363.599 149.7 367.599 150.2 371.299 149.1C374.999 148 378.299 145.1 379.099 141.3" fill="black"/>
      </g>
      <path d="M321.4 122.2C321.6 118.3 321.8 114.7 321.8 114.7C321.8 114.7 330.6 113.6 330.9 104.7C331.3 95.8 330.4 75.2 330.4 75.2L314.3 67.5L297 81.5L299.7 122.5C300.1 128.4 305.1 132.9 311.1 132.7C316.7 132.4 321.2 127.9 321.4 122.2Z" fill="#FFBE9D"/>
      <path d="M328.899 91.4C328.899 92 328.399 92.6 327.799 92.6C327.199 92.6 326.699 92.1 326.699 91.5C326.699 90.9 327.199 90.3 327.799 90.3C328.399 90.2 328.899 90.7 328.899 91.4Z" fill="#263238"/>
      <path d="M330 89C329.9 89.2 329 88.4 327.8 88.4C326.6 88.3 325.7 89 325.6 88.8C325.5 88.7 325.7 88.5 326.1 88.2C326.5 87.9 327.1 87.7 327.9 87.7C328.6 87.7 329.3 88.1 329.6 88.4C330 88.6 330.1 88.9 330 89Z" fill="#263238"/>
      <path d="M315.6 91.4C315.6 92 315.1 92.6 314.5 92.6C313.9 92.6 313.4 92.1 313.4 91.5C313.4 90.9 313.9 90.3 314.5 90.3C315.1 90.2 315.6 90.7 315.6 91.4Z" fill="#263238"/>
      <path d="M316.701 89.2C316.601 89.4 315.701 88.6 314.501 88.6C313.301 88.5 312.401 89.2 312.301 89C312.201 88.9 312.401 88.7 312.801 88.4C313.201 88.1 313.801 87.9 314.601 87.9C315.301 87.9 316.001 88.3 316.301 88.6C316.701 88.9 316.801 89.1 316.701 89.2Z" fill="#263238"/>
      <path d="M321.201 99.5C321.201 99.4 321.901 99.3 323.201 99.2C323.501 99.2 323.801 99.1 323.901 98.9C324.001 98.7 323.901 98.3 323.701 97.9C323.401 97.1 323.101 96.3 322.801 95.4C321.601 91.8 320.701 88.8 320.901 88.8C321.001 88.8 322.101 91.6 323.301 95.2C323.601 96.1 323.901 96.9 324.101 97.7C324.201 98.1 324.401 98.5 324.201 99C324.101 99.2 323.901 99.4 323.701 99.5C323.501 99.6 323.301 99.6 323.201 99.6C322.001 99.6 321.201 99.6 321.201 99.5Z" fill="#263238"/>
      <path d="M317.3 100.8C316.1 100 320.7 102.8 323.1 102.7C323.1 102.7 321.6 105 319.1 103.9C316.6 102.9 317.3 100.8 317.3 100.8Z" fill="white"/>
      <path d="M321.801 114.8C321.801 114.8 315.901 115 310.201 111C310.201 111 312.901 117.5 321.601 117L321.801 114.8Z" fill="#EB996E"/>
      <path d="M287.6 90.2C287.6 97.9 285.5 118.4 299.6 121.2L299.1 93C299.1 93 312.7 86.6 315.1 73.2L315.2 73.3C316.1 75.3 317.6 79.7 316.7 83.2L329.5 86.3L331 87.6C331 87.6 335.6 77.6 326.8 68.6C318 59.6 310.5 66.1 305.8 65.5C302.7 65.1 291.8 65.2 287.4 83.9L287.6 90.2Z" fill="#263238"/>
      <path d="M299.5 93.4C298.3 92.7 296.7 93.3 295.7 94.3C294.2 95.9 294 98.5 295.1 100.4C296.2 102.3 298.7 103.3 300.8 102.7" fill="#FFBE9D"/>
      <path d="M299.2 100.1C299.2 100.2 298.8 100.2 298.2 100.1C297.6 99.9 296.7 99.5 296.3 98.4C296.1 97.9 296.2 97.4 296.4 96.9C296.6 96.5 296.9 96.2 297.2 96C297.8 95.6 298.2 95.7 298.2 95.7C298.2 95.8 297.9 95.9 297.4 96.3C297 96.7 296.6 97.4 296.9 98.2C297.2 99 297.9 99.4 298.4 99.7C298.8 99.9 299.2 100 299.2 100.1Z" fill="#EB996E"/>
      <path d="M298.001 101.8C297.401 102 297.001 102.8 297.401 103.4C297.801 103.9 298.701 103.9 299.101 103.3C299.401 102.7 299.001 101.9 298.401 101.8" fill="#E8505B"/>
      <path d="M323.899 167.1V152.4C323.899 152.4 302.099 156.9 301.699 166.9L323.899 167.1Z" fill="#FFBE9D"/>
      <path d="M321.699 120.7C322.099 125.2 324.099 129.5 327.399 132.6C330.699 135.7 335.099 137.5 339.599 137.6C342.799 137.7 346.199 136.9 349.199 138.2C351.799 139.3 353.399 141.8 355.399 143.8C360.099 148.4 367.499 150 373.699 147.9C376.299 147 380.499 145.1 380.999 142.4C381.399 140.3 378.799 138.2 377.299 136.7C375.799 135.2 373.899 134.2 371.899 133.3C356.399 126 339.699 120.7 322.499 119.8" fill="#263238"/>
      </g>
      <defs>
      <clipPath id="clip0">
      <rect width="633.7" height="347.1" fill="white"/>
      </clipPath>
      </defs>
      </svg>

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
