
extends ../layout/main
block variable
  -
    var title_page = 'single-bussines-oportunities'
    var id_page = 'id-page-single-bussines-oportunities'
    var class_page = 'class-page-single-bussines-oportunities'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      },
      {
        label: 'Можливостi від бізнесу',
        link: 'bussines-oportunities.html'
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/forms-handler.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/single-bussines-oportunities.js')
block content
  .page-part.bg-gray.single-advice-wrap.self-height
    +svg('quarter-orange-circle').quarter-circle-decor.left
    +svg('quarter-orange-circle').quarter-circle-decor.right.top
    .on-light-bg-breadcrumbs 
      include ../includes/breadcrumbs.pug
    .single-bussines-oportunities-container.white-bg-element
      .subtitle-small.text-violet Вакансія “дизайнера” від студії Smart Orange
      p Студія онлайн-освіти EdEra запустила курс з протидії домашньому насильству «Дім (не)безпеки».
      p Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим. Студія онлайн-освіти EdEra запустила курс з протидії домашньому насильству «Дім (не)безпеки». Онлайн-курс складається з трьох блоків: по чотири лекції про форми, причини, наслідки домашнього насильства та допомогу постраждалим.
      form.form-std.bg-gray
        label.form-std__subtitle.text-violet Відгукнутися на вакансію
        .input-group
          input.input-std(name='name' data-required='true' type="text"  placeholder='І`мя:' value='')
          .invalid-message
        .input-group
          input.input-std(name='tel' data-required='true' placeholder='Телефон:' type="text" value='')
        .input-group
          textarea.input-std(name='message' placeholder='Повідомлення:' value='')
        .form-group.df.aic.file-input-group
          .input-group
            <input type="file"  name="cv" id="cv" onchange="handleFiles(this)" accept="image/png, image/jpeg">
            
            label(for="cv") 
              <svg width="100" height="18" viewBox="0 0 100 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8.5008L8.90834 15.635C8.03956 16.509 6.86124 17 5.6326 17C4.40396 17 3.22564 16.509 2.35686 15.635C1.48808 14.761 1 13.5756 1 12.3396C1 11.1036 1.48808 9.9182 2.35686 9.04421L9.44851 1.91C10.0277 1.32734 10.8132 1 11.6323 1C12.4514 1 13.237 1.32734 13.8162 1.91C14.3954 2.49266 14.7207 3.28292 14.7207 4.10693C14.7207 4.93094 14.3954 5.7212 13.8162 6.30386L6.7168 13.4381C6.4272 13.7294 6.03443 13.8931 5.62488 13.8931C5.21534 13.8931 4.82256 13.7294 4.53297 13.4381C4.24338 13.1467 4.08068 12.7516 4.08068 12.3396C4.08068 11.9276 4.24338 11.5325 4.53297 11.2411L11.0845 4.6581" stroke="#3E0C29" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M32.96 12.208H33.86V14.608H33.02V13H27.02V14.608H26.18V12.208H26.864C27.416 11.56 27.692 10.56 27.692 9.208V4.6H32.96V12.208ZM27.86 12.208H32.12V5.392H28.532V9.232C28.532 10.56 28.308 11.552 27.86 12.208ZM39.9188 12.244C39.3108 12.844 38.5668 13.144 37.6868 13.144C36.8068 13.144 36.0588 12.844 35.4428 12.244C34.8348 11.636 34.5308 10.888 34.5308 10C34.5308 9.112 34.8348 8.368 35.4428 7.768C36.0588 7.16 36.8068 6.856 37.6868 6.856C38.5668 6.856 39.3108 7.16 39.9188 7.768C40.5348 8.368 40.8428 9.112 40.8428 10C40.8428 10.888 40.5348 11.636 39.9188 12.244ZM36.0068 11.692C36.4628 12.148 37.0228 12.376 37.6868 12.376C38.3508 12.376 38.9108 12.148 39.3668 11.692C39.8228 11.228 40.0508 10.664 40.0508 10C40.0508 9.336 39.8228 8.776 39.3668 8.32C38.9108 7.856 38.3508 7.624 37.6868 7.624C37.0228 7.624 36.4628 7.856 36.0068 8.32C35.5508 8.776 35.3228 9.336 35.3228 10C35.3228 10.664 35.5508 11.228 36.0068 11.692ZM46.9738 12.232H47.8138V14.608H47.0218V13H42.1258V14.608H41.3338V12.232H42.0658C42.4737 11.696 42.6777 10.94 42.6777 9.964V7H46.9738V12.232ZM43.0258 12.232H46.1818V7.768H43.4698V9.964C43.4698 10.884 43.3218 11.64 43.0258 12.232ZM53.9375 7H54.7295V13H53.9375V11.824C53.3855 12.704 52.5775 13.144 51.5135 13.144C50.6575 13.144 49.9255 12.84 49.3175 12.232C48.7175 11.624 48.4175 10.88 48.4175 10C48.4175 9.12 48.7175 8.376 49.3175 7.768C49.9255 7.16 50.6575 6.856 51.5135 6.856C52.5775 6.856 53.3855 7.296 53.9375 8.176V7ZM49.8935 11.692C50.3495 12.148 50.9095 12.376 51.5735 12.376C52.2375 12.376 52.7975 12.148 53.2535 11.692C53.7095 11.228 53.9375 10.664 53.9375 10C53.9375 9.336 53.7095 8.776 53.2535 8.32C52.7975 7.856 52.2375 7.624 51.5735 7.624C50.9095 7.624 50.3495 7.856 49.8935 8.32C49.4375 8.776 49.2095 9.336 49.2095 10C49.2095 10.664 49.4375 11.228 49.8935 11.692ZM60.7264 7V7.768H58.6024V13H57.8104V7.768H55.6864V7H60.7264ZM66.0596 7H66.7316V13H65.9396V8.38L62.3636 13H61.6916V7H62.4836V11.62L66.0596 7ZM77.2624 7.864C77.8384 8.448 78.1264 9.16 78.1264 10C78.1264 10.84 77.8384 11.552 77.2624 12.136C76.6864 12.72 75.9264 13.052 74.9824 13.132V15.4H74.1904V13.132C73.2464 13.052 72.4864 12.72 71.9104 12.136C71.3344 11.552 71.0464 10.84 71.0464 10C71.0464 9.16 71.3344 8.448 71.9104 7.864C72.4864 7.28 73.2464 6.948 74.1904 6.868V4.6H74.9824V6.868C75.9264 6.948 76.6864 7.28 77.2624 7.864ZM72.4744 8.416C72.0504 8.848 71.8384 9.376 71.8384 10C71.8384 10.624 72.0504 11.156 72.4744 11.596C72.8984 12.028 73.4704 12.28 74.1904 12.352V7.648C73.4704 7.72 72.8984 7.976 72.4744 8.416ZM74.9824 12.352C75.7024 12.28 76.2744 12.028 76.6984 11.596C77.1224 11.156 77.3344 10.624 77.3344 10C77.3344 9.376 77.1224 8.848 76.6984 8.416C76.2744 7.976 75.7024 7.72 74.9824 7.648V12.352ZM84.6055 7H85.3975V13H84.6055V11.824C84.0535 12.704 83.2455 13.144 82.1815 13.144C81.3255 13.144 80.5935 12.84 79.9855 12.232C79.3855 11.624 79.0855 10.88 79.0855 10C79.0855 9.12 79.3855 8.376 79.9855 7.768C80.5935 7.16 81.3255 6.856 82.1815 6.856C83.2455 6.856 84.0535 7.296 84.6055 8.176V7ZM80.5615 11.692C81.0175 12.148 81.5775 12.376 82.2415 12.376C82.9055 12.376 83.4655 12.148 83.9215 11.692C84.3775 11.228 84.6055 10.664 84.6055 10C84.6055 9.336 84.3775 8.776 83.9215 8.32C83.4655 7.856 82.9055 7.624 82.2415 7.624C81.5775 7.624 81.0175 7.856 80.5615 8.32C80.1055 8.776 79.8775 9.336 79.8775 10C79.8775 10.664 80.1055 11.228 80.5615 11.692ZM88.0344 6.04V5.344H91.1544V6.04H88.0344ZM91.4424 7H92.1144V13H91.3224V8.38L87.7464 13H87.0744V7H87.8664V11.62L91.4424 7ZM98.7092 7V13H97.9172V7.768H95.2052V10.444C95.2052 11.444 95.0132 12.132 94.6292 12.508C94.2532 12.884 93.7332 13.048 93.0692 13V12.256C93.5252 12.304 93.8612 12.196 94.0772 11.932C94.3012 11.668 94.4132 11.172 94.4132 10.444V7H98.7092Z" fill="#3E0C29"/>
                </svg>
          button(class="button-std button-std--violet small submit-js" type="submit") Надіслати повідомлення
        .form__file--description
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
