.row {
	@include row-flex();
}
.page__inner {
	display: flex;
	flex-direction: column;
	z-index: 2;
	.page__content {
		flex-grow: 1;
		// margin-left: -10px;
		// margin-right: -10px;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
    margin-left: -10px;
    margin-right: -10px;
	}
}
.section-pading--top {
	padding-top: 60px;
}
.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}


.text-violet {
  color: var(--color-violet);
}
.text-orange {
  color: var(--color-orange);
}
.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-black);
}

.title--white{
  color: white
}
.title--black{
  color: white
}
