/*~  (Плашка навигации на странце "Курсы, Вебинары, Лекции" Анонсы событий) ~*/
.learn-block {
    --self-height: 56px;
    height: var(--self-height);
    border-radius: 25px;
    background-color: var(--color-white);
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #E5E0E3;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 5;
    overflow: hidden;
    &>* {
        padding: 12px 25px;
        text-decoration: none;
        color: var(--color-violet);
        border: 1px solid #E5E0E3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1px;
        background-color: transparent;
    }
    &>*:first-child {
        border-radius: 40px 0 0 40px;
        margin-left: 0;
    }
    &>*:last-child {
        border-radius:  0 40px 40px 0;
    }
    &>*.active{
        transition: background-color .5s ease-in-out;
        color: var(--color-violet) !important;
        background-color: var(--color-violet);
    }
    @include to(575px){
        flex-direction: column;
        // height: auto;
        border-radius: 0 0 0 10px;
        right: 0px;
        top: 0px;
        --self-height: 46px;
        --padding-for-decor:5px;
        padding: var(--padding-for-decor);
        &:after {
            content: '';
            background-color: var(--color-white);
            width: calc(100% - var(--padding-for-decor) * 2);
            left: calc(var(--padding-for-decor));
            top: calc(var(--padding-for-decor) + 33px);
            height: var(--padding-for-decor);
            position: absolute;
            pointer-events: none;
        }
        &:hover:after {
            opacity: 0;
        }
        &>*{
            padding: 10px 10px;
        }
        // &>*:first-child {
            
        // }
        @include from(576px){
            & a:not(.active) {
                // pointer-events: none;
            }
            &:hover a {
                pointer-events: all;
            }
            &:hover {
                height: auto;
            }
        }
        // &:hover>*:first-child {
        //     pointer-events: all;
        // }
        &>*:first-child {
            // border-radius: 0 0 10px 10px;
            border-radius: 0;
            margin-left: 0;
        }
        &>*:last-child {
            border-radius:  0 0px 10px 10px;
        }
        &>*{
            margin-left: 0;
            margin-bottom: -1px;
        }
        &>*.active{
            order: -1;
            pointer-events: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;
            z-index: 5;
            // color: white !important;
            background: var(--color-white);
        }
        @include to(575px){
            a.active {
                // color: red;
            }
            &:hover {
                height: 145px;       
            }
        }

    }
}