.learn-block-wrapper
    .learn-block
        a(href="courses.html") Курси
        a(href="lections.html") Лекції
        a(href="webinars.html") Вебінари
        a(href="master-classes.html") Майстер-класи
script
    include learn-block-navbar.js