.user-cv-wrapper {
    .white-bg-element {
        padding-left: 30px;
        padding-right: 30px;
    }
    .empty-cv-block {
        max-width: Max(25% , 250px);  
    }
    .subtitle-small {
        margin-right: auto;
        margin-bottom: 10px;
    }
    .cv-list {
        justify-content: space-between;
        .subtitle-small {
            width: 100%;
        }
    }
    p {
        color: #9A7E8E;
    }
}


.curriculum-vitae {
    --icon-width:60px;
    --self-width: 230px;
    width: var(--self-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__icon {
        background: #FFFFFF;
        border: 1px solid #E5E0E3;
        box-sizing: border-box;
        border-radius: 10px;
        width: 60px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        width: calc(100% - var(--icon-width));
        padding-left: 20px;
    }
    &__button {
        margin-top: 10px;
    }
}