.psych-questions-wrapper {
  width: 100%;
  .page-title{
      text-align: left;
  }
  @include to(950px){
    .page-title{
        text-align: left;
    }
  }
  .create-cv-tooltip {
    border: 1px solid rgba(62, 12, 41, 0.1);
    padding: 25px 30px !important;
    &:before,
    &:after {
      // background-color: rgba(62, 12, 41, 0.1) !important;
    }
  }
  .user-info-head-row td {
    padding-bottom: 20px;
  }
}

.create-cv-tooltip {
  table {
  }
  table .question-item__title {
    line-height: 1.4em;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}