.forgot-password-wrapper {
    margin: var(--page-side-fields) auto;
    max-width: 535px;
    height: 100%;
    .title {
        text-align: center;
    }
    &>*~* {
        margin-top: 20px;
    }
    @include to(575px){
        .white-bg-element {
            flex-direction: column;
            align-items: center;
        }
        .white-bg-element>*~* {
            margin-top: 10px;
        }
        .button-std~.button-std {
            margin-left: 0;
        }
    }
}