.forgot-password-wrapper {
    margin: var(--page-side-fields) auto;
    max-width: 535px;
    height: 100%;
    .title {
        text-align: center;
    }
    &>*~* {
        margin-top: 20px;
    }
    @include to(575px){
        .white-bg-element {
            flex-direction: column;
            align-items: center;
        }
        .white-bg-element>*~* {
            margin-top: 10px;
        }
        .button-std~.button-std {
            margin-left: 0;
        }

        .white-bg-element {
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .white-bg-element .button-std~.button-std{
            margin-left: 0;
            margin-top: 10px;
        }
        .white-bg-element .button-std {
            width: 100%;
            max-width: none;

        }
        .form-std {
            padding-bottom: 30px;
        }
        .form-std .button-std {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: none;
        }
    }
}