.forgot-password-wrapper {
    margin: var(--page-side-fields) auto;
    max-width: 535px;
    height: 100%;
    .title {
        text-align: center;
    }
    &>*~* {
        margin-top: 20px;
    }
}