.react-tabs {
    width: 100%;
    @include to(575px){
        .form-std {
            --padding:0;
        }
    }
} 
.react-tabs__tab-list {
    border: 1px solid var(--color-violet);
    display: flex;
    border-radius: 40px;
    overflow: hidden;

    align-items: center;
   &>* {
       width: 50%;
   }
    .react-tabs__tab {
        padding-left: 40px;
        padding-right: 40px;
        height: 36px;
        display: flex;
        justify-content: center;align-items: center;
        cursor: pointer;
        transition: .3s ease-in-out;
        color: var(--color-violet);
    }
    .react-tabs__tab--selected {
        background: var(--color-violet);
        color: var(--color-white);
    }
    @include from(1680px){
        .react-tabs__tab {
            height: 36px;
            font-size: 14px;
        }
    }
    @include to(575px){
        flex-wrap: wrap;
        border-radius: 10px;
       
        &>* {
            width: 100%;
        }
    }
}
.login-tabs-head {
    padding: 0 30px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    padding: 20px 60px;
    font-size: 12px;
    .subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .subtitle-small {
        margin-top: 20px;
    }
    @include from(576px){
        padding: 20px 60px 0px 60px;
        &:after {
            content:  '';
            position: absolute;
            left: 30px;
            top: 0;
            width: calc(100% - 60px);
            height: 400%;
            z-index: -1;
            background-color: var(--color-gray);
            border-radius: 10px;
            z-index: -1;
            pointer-events: none;
        }
    }
    @include from(1680px){
        .subtitle-small {
            font-size: 18px;
        }
    }
    @include to(575px){
        padding: 20px;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px;
        .subtitle {
            margin-bottom: 15px;
        }
        .subtitle-small {
            margin-top: 30px;
        }
    }
}

@include from(576px){
    .react-tabs .form-std {
        margin-top: 0px;
        padding-top: 5px;
    }
    
    .react-tabs .form-std:after {
        content: '';
        background-color: var(--color-gray);
        width: calc(100% - 60px );
        height: calc(var(--outline-padding) + 10px);
        position: absolute;
        left: 30px;
        top: 0;
        z-index: -1;
        pointer-events: none;
    }
}