.outer-course-block {
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  border-radius: 10px;
  background: var(--color-white);
  --v-padding: 10px;
  --h-padding: 10px;
  padding: var(--v-padding) var(--h-padding);
  overflow: hidden;
  z-index: 0;
  text-decoration: none;
  color: inherit;
  svg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    transform: translate(35%, 0);
    z-index: -1;
  }
  p {
    font-size: 10px;
    line-height: 1.4em;
  }
  @include to(768px){
    width: calc(100% - 10px); 
    left: 5px;
  }
  
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid rgba(3, 24, 38, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  svg path {
    transition: .3s ease-in-out;
  }
  @include from(951px){
    &:hover {
      border-color: var(--color-violet);
    }
    &:hover svg path {
      stroke: var(--color-violet);
    }
  }
}
.social-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .subtitle-small {
    width: 100%;
    margin-bottom: 20px;
  }
  @include to(1320px){
    box-shadow: none;
  }
}
.social-icon~.social-icon{
  margin-left: 10px;
}
