.footer {
  padding: 25px var(--page-side-fields);
  align-items: flex-start;
  border:none;
  background: #fff;
  @include from(1680px){
    padding: 50px var(--page-side-fields);
  }
  @include to(575px){
    .footer-dev {
      flex-direction: column;
      align-items: flex-end;
    }
    .footer-dev__text {
      margin-right: 0;
    }
    .footer-dev__link {
      margin-top: 2px;
    }
    .underline::after {
      bottom: 0;
    }
  }
}