.page__footer-wrapper{

}
.footer{
  --side-padding: 110px;
  --vert-padding: 50px;
  padding: var(--vert-padding) var(--side-padding);
  background: var(--color-violet);
  color: #EEBEDA;
  font-size: 12px;
  line-height: 1.4em;
  display: flex;
  flex-wrap: wrap;
  &>*:nth-child(1),
  &>*:nth-child(2) {
    width: 50%;
  }
  &>*:nth-child(2) {
    text-align: right;
  }
  &>*:last-child {
    margin-top: 20px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  @include to(950px){
    --side-padding: 50px;
    --vert-padding: 50px;
  }
  @include to(575px){
    --side-padding:15px;
    --vert-padding: 30px;
  }
}