.form-std {
  --padding:30px;
  --outline-padding:30px;
  padding: calc(var(--padding) + var(--outline-padding));
  background: var(--color-white);
  // box-shadow: 0px 10px 20px rgba(199, 208, 214, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: min-content;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  // &:after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;background: rgba(199, 208, 214, 0.25);
  //   z-index: 0;
  //   border-radius: 10px;
  //   z-index: -1;
  // }
  select {
    padding: 15px 25px;
    border-radius: 10px;
    border-color: #e5e0e3;
    appearance: none;
    width: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    left: var(--outline-padding);
    top: var(--outline-padding);
    height: calc(100% - (var(--outline-padding) * 2));
    width: calc(100% - (var(--outline-padding) * 2));
    background: var(--color-gray);
    border-radius: 10px;
    z-index: -1;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 26px;
  }
  input {
    // margin-bottom: 10px;
  }
  input:disabled {
    background-color: #9a7e8e62;
  }
  button.button-std,
  .button-std {
    margin-top: 20px;
    margin-left: auto;
  }
  textarea {
    resize: none;
    height: 150px;
    padding-top: 16px;
    // margin-bottom: 20px;
  }
  &__error-mes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-orange);
    color: var(--color-white);
    margin: 0 calc(var(--padding) * -1);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding: 12px 30px;
    margin-top: 10px;
  }
  &__error-mes svg {
    margin-right: 10px;
  }
  @include from(1680px){
    &__subtitle {
      // font-size: 24px;
    }
    textarea,
    .input-std {
      // font-size: 18px;
    }
  }
  @include to(1024px){
    --padding:30px;
  }
  @include to(575px){
    --outline-padding: 0px;
    --padding: 15px;
    --outline-padding: 0px;
    --padding: 15px;
    button.button-std,
    .button-std {
      margin-left: 0;
    }
    &__subtitle {
      margin-top: 20px;
    }
    &::before {
      background-color: var(--color-white);
    }
    .input-std, input {
      background-color: var(--color-gray);
    }
  }
}

.form-label{
  font-size: max(vh(32), 32px);
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 vw(20) auto;
  white-space: nowrap;
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width:1440px) {
    font-size: max(vh(32, 0.85), 32px);
    font-weight: 300;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width:1440px) {
    font-size: max(vh(32), 32px);
    font-weight: 400;

  }
  @include to(1440px){
    margin: 0 0 20px auto;
    font-size: 18px;
  }
  @include to(576px){
    font-size: 16px;
  }
}
.contact-block__r form{
  margin-left: auto;
}

.home-contact--width{
  max-width: vw(470);
  @include to(1440px){
    max-width: 400px;
  }
  @include to(576px){
    max-width: none;
  }
}


.input-group {
  position: relative;
  input {
    transition: .3s ease-in-out;
  }
  .error {
    color: var(--color-violet);
    position: absolute;
    left: 15px;
    top: 0;
    transform: translateY(-50%);
    z-index: 5;
    padding-right: 15px;
    // background: var(--color-white);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 10px;
    font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 10px */
  color: #9A7E8E;
  
  }

  /*~  (Вывод плейсхолдера при заполненом инпуте) ~*/
  .placeholder-in-focus {
    color: var(--color-violet);
    position: absolute;
    left: 15px;
    top: 0;
    transform: translateY(-50%);
    z-index: 5;
    padding-right: 15px;
    // background: var(--color-white);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 10px;
    font-size: 10px;
    line-height: 100%;
  /* identical to box height, or 10px */
    animation: slide-in-bottom 0.25s 1 ease-in-out;
  }
  .error:after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    height: calc(50% + 1px);
    width: 100%;
    background-color: var(--color-white);
    z-index: -1;
  }
  &.required:after {
    position: absolute;
    content: '*';
    color: var(--color-violet);
    right: 10px;
    top: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
  }
  @include to(575px){
    textarea.input-std,
    input.input-std {
      background-color: var(--color-white);
    }
    &--buttons {
      justify-content: center;
    }
    &--buttons>* {
      margin-bottom: 10px;
    }
  }
 
}
.input-group-select {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6L0 0H6L3 6Z' fill='%233E0C29'/%3E%3C/svg%3E%0A");
    width: 6px;
    height: 6px;
  }
}
.input-group~.input-group {
  margin-top: 10px;
}

.required-legend-title {
  margin-top: 10px;
}

select option:hover {
  background-color: yellow;
}

.input-section {
  padding: 15px 20px;
  background: var(--color-gray);
  border: 1px solid #E5E0E3;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  &__title {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-gray);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
  @include to(575px){
    padding:15px;
    &__title {
      background: linear-gradient(
180deg
, rgba(255,255,255,1) 50%, rgba(248,248,248,1) 50%);
    }
  }
}