.form-label{
  font-size: max(vh(32), 32px);
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 vw(20) auto;
  white-space: nowrap;
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width:1440px) {
    font-size: max(vh(32, 0.85), 32px);
    font-weight: 300;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width:1440px) {
    font-size: max(vh(32), 32px);
    font-weight: 400;

  }
  @include to(1440px){
    margin: 0 0 20px auto;
    font-size: 18px;
  }
  @include to(576px){
    font-size: 16px;
  }
}
.contact-block__r form{
  margin-left: auto;
}

.home-contact--width{
  max-width: vw(470);
  @include to(1440px){
    max-width: 400px;
  }
  @include to(576px){
    max-width: none;
  }
}


.input-group {
  position: relative;
  input {
    transition: .3s ease-in-out;
  }
  .error {
    color: var(--color-violet);
    position: absolute;
    left: 15px;
    top: 0;
    transform: translateY(-50%);
    z-index: 5;
    padding-right: 15px;
    // background: var(--color-white);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 10px;
    font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 10px */
  color: #9A7E8E;
  }
  .error:after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    height: calc(50% + 1px);
    width: 100%;
    background-color: var(--color-white);
    z-index: -1;
  }
  &.required:after {
    position: absolute;
    content: '*';
    color: var(--color-violet);
    right: 10px;
    top: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
  }
}

.input-group~.input-group {
  margin-top: 10px;
}
