body {
    // background-color: #E9E9E9;
    background: #F9F9F9;
}
.c-scrollbar {
  z-index: 10000;
}

.page__inner {
  margin-left: auto;
  width: calc(100vw - var(--aside-w) - 10px);
  transition: filter .3 ease-in-out;
  &.opened-popup {
    //  pointer-events: none;
    filter: blur(3px);
    cursor: pointer;
  }
  @include to(1024px){
    width: 100vw;
  }
  @include to(575px){
    overflow: hidden;
  }

}
.page__content {
    .breadcrumbs {
        // margin-top: 30px;
        // margin-bottom: 20px;
    }
    @include to(768px){
      max-width:100vw;
      min-height: 100vh;
      overflow:hidden;
    }
    @include to(575px){
      .breadcrumbs { 
        margin-top: 20px;
      }
    }
}
#root {
  min-height: 100vh;
  margin: 0 15px;
  @include to(1200px){
    
    margin: 0 15px;
  }
  @include to(575px){
    
    margin: 0 10px;
  }
}


/*~  Основной заголовок ~*/
.title {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 800;
  @include to(575px){
    font-size: 24px;
  }
}

/*~  Основной заголовок в начале страницы ~*/
.page-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    @include from(1680px) {
        font-size: 64px;
        margin-bottom: 60px;
    }
    @include to(950px){
      margin-bottom: 30px;
    }
    @include to(575px) {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/*~  (основной подзаголовок) ~*/
.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  @include to(575px){
    font-size: 18px;
  }
}

/*~  (основной малый подзаголовок) ~*/
.subtitle-small {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

/*~  (большие символы) ~*/
.uppercased {
  text-transform: uppercase;
}
.max-content {
  width: max-content;
}

/*~  (  standart button, add class small to decrease size, add class transparent) ~*/
.button-std {
  height: 55px;
  border-radius: 40px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  padding: 20px 28px;
  outline: none;
  position: relative;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 0 rgba(255,127,65, 0.4);
    animation: pulse 1s infinite;
  }
  &.down-button {
    width: max-content;
  }
  &.transparent {
    color: var(--color-violet);
    border: 1px solid var(--color-violet);
    background-color: transparent;
  }
  span {
    width: calc(100% - 17px);
    text-align: center;
  }
  &.small {
    height: 36px;
    font-size: 12px;
    padding: 13px 25px;
  }
  &.down-button .button__up-icon {
    margin-right: 15px;
  }
  &>svg:not(.button__up-icon) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    text {
      stroke: var(--color-violet);
      font-size: 9px;
      stroke-width: 0.8;
    }
  }
  &--violet {
    background: var(--color-violet);
  }
  &--orange {
    background: var(--color-orange);
  }
  &--white {
    background: var(--color-white);
    color: var(--color-violet);
  }
  max-width: 280px;
  cursor: pointer;
  &[disabled] {
    background: gray;
  }
  &[disabled]:hover {
    box-shadow: none;
    background: gray;
  }
  @include from(950px){
    // overflow: hidden;
    // z-index: 0;
    // transition: background-color .2s ease-in-out;
    // &>* {
    //   position: relative;
    //   z-index: 2;
    // }
    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: var(--color-orange);
    //   opacity: .5;
    //   transition: .2s ease-in-out;
    //   transform: translateY(-100%);
    //   z-index: -1;
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: var(--color-violet-dark);
    //   transition: .1s ease-in-out;
    //   transition-delay: .2s;
    //   transform: translateY(-100%);
    //   z-index: -1;
    // }
    // &:hover {
    //   background-color: transparent;
    // }
    // &:hover::before,
    // &:hover:after {
    //   transform: none;
    // }
    @include from(950px){
      & {
        transition: background-color .35s ease-in-out;
      }
      &:hover {
          background-color: var(--color-orange);
        }
      &--orange:hover {
        background-color: var(--color-violet);
      }
    }
  }
  @include to(575px){
    height: 40px;
  }

}

textarea,
.input-std {
  // width: 355px;
  width: 100%;
  max-width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #E5E0E3;
  background: var(--color-white); 
  font-size: 14px;
}



/*~  (Белая закругленная подложка) ~*/
.white-bg-element {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(199, 208, 214, 0.25);
  .button-std~.button-std {
    margin-left: 20px;
  }
  &.with-padding {
    padding: 30px;
  }
  @include to(575px){
    padding-top: 15px;
    padding-bottom: 15px;
    &.with-padding {
      padding: 15px;
    }
  }
}

/*~  (Серая закругленная подложка) ~*/
.gray-bg-element {
  background-color: var(--color-gray);
  border-radius: 10px;
  --self-padding :30px;
  padding: var(--self-padding);
  @include to(575px){
      --self-padding :15px;
  }
}
.breadcrumbs {
  font-weight: 500;
  font-size: 12px;
  line-height: 1em;
  display: flex;
  font-weight: 400;
  color: var(--color-white);
  position: relative;
  z-index: 3;
  a {
      text-decoration: none;
  }
  &-list {
      display: flex;
      max-width: 100%;
  }
  &-item:not(:first-child):before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='3' height='4' viewBox='0 0 3 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='2' r='1.5' fill='white'/%3E%3C/svg%3E%0A");
      width: 8px;
      height: 8px;
      display: inline-block;
      background-repeat: no-repeat;
      margin-left: 10px;
      margin-right: 10px;
      background-position: center;
  }
  &-item {
      &__link {
          color: var(--color-white);
          transition: .3s ease-in-out;
      }
      &__current--color {
          color:  var(--color-orange);
          pointer-events: none;
      }
    
  }
  @include from(1680px) {
      font-size: 14px;
  }
  @include from(769px) {
      .breadcrumbs-item__link:hover {
          // color: $color-gold;
      }
  }
  @include to(768px) {
      white-space: nowrap;
      &-item:last-child {
          text-overflow: ellipsis;
          overflow: hidden;
      }
  }
}
.on-light-bg-breadcrumbs {
  .breadcrumbs-item .breadcrumbs-item__link  { 
    color: var(--color-violet);
  }
  .breadcrumbs-item:not(:first-child):before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='4' viewBox='0 0 3 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='2' r='1.5' fill='rgba(153%2C30%2C102%2C1)'/%3E%3C/svg%3E%0A");
  }
}

.page-title {
  letter-spacing: 0.03em;
    font-size: 42px;
    line-height: 1.25em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    @include from(1680px){
      font-size: 54px;
    }
    @include to(575px){
      font-size: 24px;
    }
}

.fixed-proportion-wrap {
  width: 86%;
  position: absolute;
}
.fixed-proportion {
  position: relative;
  padding-bottom: 100%;
}

.decor-white-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transform: translate(35%, 8%);
}
.list-std {
  li {
    list-style: circle;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -24px;
    padding-left: 24px;
  }
  li:first-line{
    // padding-left: 15px;
  }
  li::marker{
    // margin-right: 10px;
  }
  li~li {
    margin-top: 30px;
  }
}

.fw-400{
  font-weight: 400;
}
/*~ font-weight 500~*/
.fw-500{
  font-weight: 500;
}
/*~ font-weight 600~*/
.fw-600{
  font-weight: 600;
}
/*~ font-weight 800~*/
.fw-800{
  font-weight: 800;
}


/*~ background common styling gray~*/
.bg-gray {
  background: var(--color-gray) !important;
}
/*~ background common styling white~*/
.bg-white {
  background: var(--color-white);
}

/*~  Фиолетовый задний фон~*/
.bg-violet {
  background: var(--color-violet);
}
/*~  Оранжевый задний фон~*/
.bg-orange {
  background: var(--color-orange);
}

.input-group {
  &.unfilled input,
  &.unfilled textarea {
    border-color: red;
  }
}

.search-bar-wrap {
  --self-height:56px;
  height: var(--self-height);
  border-radius: 25px;
  background-color: var(--color-white);
  padding: 10px;
  position: relative;
  z-index: 2;
  .search-bar {
    width: 250px;
    border: 1px solid #E5E0E3;
    box-sizing: border-box;
    border-radius: 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
      padding-right: 20px;
    input {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #9A7E8E;
      border: none;
      
    }
    button {
      background: none;
      border: none;
      padding: 0;
      transition: transform .3s ease-in-out;
    }
    input::placeholder {
      color: #9A7E8E;
    }
    svg {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-left: auto;
    }
  }
  @include from(951px){
    button:hover {
      transform: rotate(-180deg);
    }
  }
}


.underlined {
  text-decoration: underline;
}


/*~  (добавление закругления рамки) ~*/
.border-10 {
  border-radius: 10px;
}

/*~  (Елемент фискированый для вывода общих сообщений) ~*/
.el-for-alerts {
  width: 150px;
  display: flex;
  z-index: 1400;
  position: fixed;
  left: auto;
  right: 24px;
  top: 24px;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: 600;
  padding: 6px 16px;
  width: 288px;
  border-radius: 10px;

    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @include to(575px){
    right: 15px;
    top: 15px;
  }
}

.empty-questions-wrapper {
  width: 100%;
  svg {
    width: 100%;
  }
  .subtitle-small {
    text-align: center;
    margin-top: 20px;
  }
}
.mt-10 {
  margin-top: 10px;
}